{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}DB Viewer{% endblock %}

{% block extra_head %}

  <!--
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/DT_bootstrap.js"></script>
  <link rel="stylesheet" href="/static/css/DT_bootstrap.css" type="text/css"/>
  -->
  <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/dataTables.tableTools.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/dataTables.editor.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/jquery.qtip.css" type="text/css"/>


  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.editor.js"></script>
  <script type="text/javascript" src="/static/js/livevalidation_standalone.js"></script>
  <script type="text/javascript" src="/static/js/jquery.qtip.js"></script>
 <!--<script type="text/javascript" src="/static/js/dataTables.editor.min.js"></script>-->

  <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>

  <style>

  div.DTE { overflow: visible; }
  div.DTE_Body { overflow-y: visible; height: 270px; }
  div.DTE_Body_Content { overflow-y: visible; height: 270px; }
  div.DTE_Footer { overflow: visible; }
  </style>
{% endblock %}

{% block content %}
	<!-- site map bar -->
	<div class="row-fluid">
		<div class="span10 offset1">
			<ul class="breadcrumb pull-left" style="background-color: transparent;">
				<li><a href="/home/">Breeze</a> <span class="divider">/</span></li>
				<li class="active"> DB Viewer</li>
			</ul>
		</div>
	</div>

<!-- DB Modules -->
<div class="row-fluid">
  <div class="span10 offset1">
    <ul class="nav nav-pills" id="scriptTabs">
      <li class="active"><a href="#patientsOuter" data-toggle="tab"><strong>Patients &amp; Screens</strong></a></li>
      <li ><a href="#drugsOuter" data-toggle="tab"><strong>Drug Collection</strong></a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <!-- Outer tab content-->
    <div class="tab-content">

      <!-- Patients-Screens Outer Section -->
      <div class="tab-pane active" id="patientsOuter">
        <!-- Inner Tab Headers: -->
        <ul class="nav nav-tabs" id="tabHeaders">
          <li class="active"><a href="#patientsPane" data-toggle="tab">Entity Registry</a></li>
          <li><a href="#screensPane" data-toggle="tab">Screens</a></li>
          <li><a href="#samplesPane" data-toggle="tab">Plates</a></li>
          <li><a href="#sampleGroupsPane" data-toggle="tab">Screen Groups</a></li>
          <li><a href="#ScreenInGroupPane" data-toggle="tab">Screen Groups Content</a></li>
        </ul>

        <!-- Tab Content: -->
        <div class="tab-content">
          <div class="tab-pane active" id="patientsPane">
            <div class="well">
              <p></p>
                <!-- Patients Table -->
                <table class="table table-hover table-bordered roraTable display" id="patients_table" data-editor="patientEditor" data-subject="patient" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>SOURCE</th>
                      <th>DESCRIPTION</th>
                      <th>ORGANIZM</th>
                      <th>SEX</th>
                      <th>BIRTHDATE</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>SOURCE</th>
                      <th>DESCRIPTION</th>
                      <th>ORGANIZM</th>
                      <th>SEX</th>
                      <th>BIRTHDATE</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF Patients Table -->
            </div>
          </div>
          <div class="tab-pane" id="screensPane">
            <div class="well">
              <p></p>
                <!-- Screen Table -->
                <table class="table table-hover table-bordered roraTable display" id="screen_table" data-editor="screenEditor" data-subject="screen" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>DESCRIPTION</th>
                      <th>SOURCE</th>
                      <th>PATIENT</th>
                      <th>BREEZE_ALIAS</th>
                      <th>TIME_STAMP</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>DESCRIPTION</th>
                      <th>SOURCE</th>
                      <th>PATIENT</th>
                      <th>BREEZE_ALIAS</th>
                      <th>TIME_STAMP</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF Screen Table -->
            </div>
          </div>
          <div class="tab-pane" id="samplesPane">
            <div class="well">
              <p></p>
                <!-- Sample Table -->
                <table class="table table-hover table-bordered roraTable display" id="sample_table" data-editor="sampleEditor" data-subject="sample" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>DESCRIPTION</th>
                      <th>SCREEN</th>
                      <th>DOSAGE</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>IDENTIFIER</th>
                      <th>DESCRIPTION</th>
                      <th>SCREEN</th>
                      <th>DOSAGE</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF Sample Table -->
            </div>
          </div>
          <div class="tab-pane" id="sampleGroupsPane">
            <div class="well">
              <p></p>
              <!-- ScreenGrops Table -->
                <table class="table table-hover table-bordered roraTable display" id="screenGroup_table" data-editor="groupEditor" data-subject="group" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>USERNAME</th>
                      <th>GROUPNAME</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>USERNAME</th>
                      <th>GROUPNAME</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF ScreenGrops Table -->
            </div>
          </div>
          <div class="tab-pane" id="ScreenInGroupPane">
            <div class="well">
              <p></p>
              <!-- ScreenGrops Table -->
                <table class="table table-hover table-bordered roraTable display" id="screenInGroup_table" data-editor="groupEditor" data-subject="content" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>SCREENNAME</th>
                      <th>GROUPNAME</th>
                      <th>DOTMATICS ID</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>SCREENNAME</th>
                      <th>GROUPNAME</th>
                      <th>DOTMATICS ID</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF ScreenInGrop Table -->
            </div>
          </div>
        </div>    <!-- END OF INNER Tab Content: -->
      </div>

      <!-- Drug Annotations Outer Section -->
      <div class="tab-pane" id="drugsOuter">
        <!-- Inner Tab Headers: -->
        <ul class="nav nav-tabs" id="tabHeaders">
          <li class="active"><a href="#patientsPane" data-toggle="tab">Compounds</a></li>
        </ul>

        <!-- Tab Content: -->
        <div class="tab-content">
          <div class="tab-pane active" id="Drugs">
            <div class="well">
              <p></p>
                <!-- Compounds Table -->
                <table class="table table-hover table-bordered roraTable display" id="compounds_table" data-editor="patientEditor" data-subject="compound" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>FIMM ID</th>
                      <th>SUPPLIER</th>
                      <th>NAME</th>
                      <th>FIMM PRODUCT</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>FIMM ID</th>
                      <th>SUPPLIER</th>
                      <th>NAME</th>
                      <th>FIMM PRODUCT</th>
                    </tr>
                  </tfoot>

                </table>
                <!-- END OF Patients Table -->
            </div>
          </div>
        </div>    <!-- END OF INNER Tab Content: -->
      </div>

    </div>    <!-- END OF OUTER Tab Content: -->
  </div>
</div>

<div id="patientEdit" class="modal hide fade" role="dialog" aria-hidden="true" style="background: url('/static/nail.png');"></div>
<div id="newScreenGroup" class="modal hide fade" role="dialog" aria-hidden="true" style="background: url('/static/nail.png');"></div>
<div id="NameError" class="modal hide fade" role="dialog"  aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="del_title">Warning</h3>
    </div>
    <div class="modal-body">
      <p> Your screen group name contains space. Please remove spaces in the screen group name! </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>
<script type="text/javascript"> //TODO make a .js file and load it system wide
	// Clem 04/03/2016 (feature request from Disha)
	// add a clickable entry to bootstrap multiselect lists
	// so that you can hide/show unselected items easily through CSS
	// i.e. it does not alter individual elements, or their position in the <ul>
	// Limitations : _ only works if you have filter enabled. (has the link is added in the same span,
	//                 so that the list don't get closed upon click.
	//               _ will apply to all multiselect as once, since this use CSS. However, you
	//                 could easily improve that by assigning an id to the <ul> list and adding it
	//                 in the cycle function / selector var
	// CONFIG :
	var supportDynamicLoading = true; // enable DOM watching for changes (i.e. AJAX load, modal forms etc.)
	var topLevelElementId = 'wrapper'; // id of the element to watch, should be high enough in your tree
	//var expectedElementClass = 'dropdown-toggle'; // class of the target element you are looking for to be loaded
	//var expectedElementId = 'id_dst'; // id of the target element you are looking for to be loaded
	var targetSelector = 'div#patientEdit'; // selector of the target element you are expecting for
	var max_depth = 150; // safety to avoid infinite loop on while

	// creates a new style element and corresponding blank style sheet in it.
	// see https://davidwalsh.name/add-rules-stylesheets
	function newStyle() {
		// Create the <style> tag
		var style = document.createElement("style");

		// Add a media (and/or media query) here if you'd like!
		// style.setAttribute("media", "screen")
		// style.setAttribute("media", "only screen and (max-width : 1024px)")

		// WebKit hack :(
		style.appendChild(document.createTextNode(""));

		// Add the <style> element to the page
		document.head.appendChild(style);

		return style;
	}
	// new style element
	var style = newStyle();
	// corresponding style sheet
	var sheet = style.sheet;

	// function to add CSS rules on different platforms
	// from https://davidwalsh.name/add-rules-stylesheets
	function addCSSRule(sheet, selector, rules, index) {
		if (!isNaN(index)) {
			index = 1;
		}
		if ("insertRule" in sheet) {
			sheet.insertRule(selector + "{" + rules + "}", index);
		}
		else if ("addRule" in sheet) {
			sheet.addRule(selector, rules, index);
		}
	}
	// save the display state of the unselected elements
	var state = false;
	var hasSelectAll = false;
	var hasFiltering = false;
	// add/removes the CSS rule from the style element, effectively hiding/showing unselected elements
	function cycle(obj, multi){
		if (!state) {
			// add the CSS rule to our blank style sheet
			// the 'li~li' effectively skip the first li of the ul
			// as this li contains the "Select All" option if enabled
			var selector = ".multiselect-container li:not(.active)";
			if(getHasSelectAll(multi)){ // check if Select All is enabled
				// JQuery >= 1.9 only :
					// selector = ".multiselect-container li:not(.active, li:first-of-type)"
				selector = ".multiselect-container li~li:not(.active)"
			}

			addCSSRule(sheet, selector, "display: none !important;");

			state = true;
		} else {
			// removes the style object
			style.removeChild(style.childNodes[0]);
			// add a new blank style object
			style = newStyle();
			sheet = style.sheet;
			state = false;
		}
	}
	// returns the multiselect object options
	function getMultiOptions(multi){
		return $(multi).multiselect().data().multiselect.options;
	}
	// returns weather the multiselect has the SelectAll option
	function getHasSelectAll(multi){
		return getMultiOptions(multi).includeSelectAllOption;
	}
	// returns weather the multiselect has the Filtering option
	function getHasFiltering(multi){
		return getMultiOptions(multi).enableFiltering;
	}
	// find and returns the related <select> from a given lower level element
	function getUpperMultiSelect(obj){
		var found = false;
		var goUp = obj;
		var last = null;
		var x = 0;
		while (!found && goUp.tagName!='BODY' && x<max_depth) {
			goUp = goUp.parent();
			if (goUp.length > 0) {
				var child = goUp[0].children;
				var size = child.length;
				for (var i = 0; i < size && !found; i++) {
					last = child[i];
					found = found || last.tagName == "SELECT";
				}
			}
			x++;
		}
		return last;
	}

	// insert the clickable element to hide/show the unselected elements
	function insert(){
		var link = document.createElement("a");
		link.href = "javascript:void(0);";
		var id_base = "click_";
		link.style.float = "right";
		link.style.fontSize = "x-small";
		link.innerText = "hide/show non selected";
		// the element is added after the search field in multi-select views
		var i = 0;
		$(".multiselect-search").each(function () {
			link.id = id_base + i;
			$(this).parent()[0].appendChild(link);
			var multi = getUpperMultiSelect($(this));

			// attach the function to the target object
			$(function () {
				$("#" + link.id).click(function (e) {
					e.preventDefault();
					cycle(e, multi);
				});
			});
			i++;
		});
	}

	var obs;
	// DOM observer, from http://stackoverflow.com/a/14570614
	var observeDOM = (function () {
		var MutationObserver = window.MutationObserver || window.WebKitMutationObserver,
		  eventListenerSupported = window.addEventListener;

		return function (obj, callback) {
			if (MutationObserver) {
				// define a new observer
				obs = new MutationObserver(function (mutations, observer) {
					if (mutations[0].addedNodes.length || mutations[0].removedNodes.length)
						callback(mutations, observer);
				});
				// have the observer observe foo for changes in children
				obs.observe(obj, {childList: true, subtree: true});
			}
			else if (eventListenerSupported) {
				obj.addEventListener('DOMNodeInserted', callback, false);
				obj.addEventListener('DOMNodeRemoved', callback, false);
			}
		}
	})();
	// DOM change event listener. Enable the insert function to run after some dynamic loading
	// happens on the page. Like loading a modal form for example.
	function listen() {
		if(!supportDynamicLoading){
			insert();
		}else{
			// Observe a specific DOM element:
			observeDOM(document.getElementById(topLevelElementId), function (mutations, observer) {
				// change for getElementById if the element you are looking for has one
				//els = document.getElementsByClassName(expectedElementClass);
				var isOk = false;
				for(var i= 0; i<mutations.length && !isOk; i++){
					isOk = isOk || mutations[i].target == $(targetSelector)[0];
				}
				if (isOk) {
					obs.disconnect(); // disable listening, since we gonna change the DOM
					insert();
					listen(); // resumes DOM watching
				}
			});
		}

	}
	$(document).ready(listen());
</script>
<script type="text/javascript">



$(document).ready(function() {

  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  var username = "{{ user.username|default:"undefined" }}";

  // --- OUR CUSTOM FILED TYPE ---
  // ----------------------------
  $.fn.dataTable.Editor.fieldTypes.multidrop = $.extend( true, {}, $.fn.dataTable.Editor.models.fieldType, {
    "create": function ( conf ) {
        var that = this;

        conf._enabled = true;

        // Create the elements to use for the input
        conf._input = $(
            '<div>'+
                '<select id="group_editor_list" class="multiselect" multiple="multiple">'+
                '<option value="cheese">Cheese</option>'+
                '<option value="tomatoes">Tomatoes</option>'+
                '<option value="mozarella">Mozzarella</option>'+
                '</select>'+
            '</div>')[0];

        // Use the fact that we are called in the Editor instance's scope to call
        // the API method for setting the value when needed
        $('button.inputButton', conf._input).click( function () {
            if ( ! conf._enabled ) {
                that.set( conf.name, $(this).attr('value') );
            }

            return false;
        } );

        return conf._input;
    },

    "get": function ( conf ) {
        return $('button.selected', conf._input).attr('value');
    },

    "set": function ( conf, val ) {
        $('button.selected', conf._input).removeClass( 'selected' );
        $('button.inputButton[value='+val+']', conf._input).addClass('selected');
    }
} );

  // --- SCREEN IN GROUP Set Up       ---
  // ----------------------------
  contentCreator = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/action/",
        table: "#screenInGroup_table",
        "fields": [ {
                "label": "Group Name",
                "name": "group_name"
            }
        ]
    } );

  contentCreator.on( 'preSubmit', function ( e, data, action ) {
                data.csrfmiddlewaretoken = csrftoken;
                data.group_author = username;
                data.table = 'content';
        } );

  $('#screenInGroup_table').DataTable( {
    dom: "Tlfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#screenInGroup_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_SCREEN_IN_GROUP_ID" },
            { data: "IDENTIFIER" },
            { data: "SCREEN_GROUP_NAME" },
            { data: "DOTM_SOURCE_ID" }
        ],
    tableTools: {
        sRowSelect: "multi",
        aButtons: [
            { sExtends: "editor_remove", editor: contentCreator }
        ]
    }
  } );  // #sample_table

  // --- SCREEN GROUPS Set Up ---
  // ----------------------------
  groupCreator = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/action/",
        table: "#screenGroup_table",
        "fields": [ {
                "label": "Group Name",
                "name": "group_name"
            }
        ]
    } );

  groupCreator.on( 'preSubmit', function ( e, data, action ) {
                data.csrfmiddlewaretoken = csrftoken;
                data.group_author = username;
                data.table = 'groups';
        } );

  groupEditor = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/action/",
        table: "#screenGroup_table",
        "fields": [ {
                "label": "Group content:",
                "name": "Content",
                "type": "multidrop"
            }
        ]
    } );

  // initialize Multiselect plugin
  var multiConfigurationSet = {
    includeSelectAllOption: true,
    enableFiltering: true,
    maxHeight: 205
  };


  groupEditor.on( 'preSubmit', function ( e, data, action ) {
                data.csrfmiddlewaretoken = csrftoken;
                data.group_author = username;
                data.table = 'groups';
        } );

  var screenGroupTable = $('#screenGroup_table').DataTable( {
    dom: "Tlfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#screenGroup_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_SCREEN_GROUP_ID" },
            { data: "FIMM_USERNAME" },
            { data: "SCREEN_GROUP_NAME" }
        ],
    tableTools: {
        sRowSelect: "multi",
        aButtons: [
          { sExtends: "editor_create", 
            fnClick: function () {
                var data = {table:'screenGroup', action:'create'}
                var url = "/ajax-rora-groupname/"
                $("#newScreenGroup").load(url,function(){
                    $("#newScreenGroup").modal('show');
                    $('#id_name').qtip({ // Grab some elements to apply the tooltip to
                        content: {
                            title: 'Name',
                            text: '<b>Please do not use space in the screen group name!</b> <b>Example: Prostate_Normal_Samples</b>'
                        },
                        style: {
                            classes: 'qtip-bootstrap'
                        }
                    })
                    $("#form_modal_apply").submit(function(event){
                        text = $( "#id_name" ).val();
                        
                        if(!text){
                            event.preventDefault();
                            //$("#ReportName").modal("show");
                        }else if(/\s/g.test(text)){
                            event.preventDefault();
                            $("#NameError").modal('show')
                        }
                    });
                })
                
            }
          },
            //{ sExtends: "editor_edit",   editor: groupEditor },
            { sExtends: "editor_remove", editor: groupCreator },
            {
              sExtends: 'select_single',
              sButtonClass: 'marginLeft',
              sButtonText: 'Alter group content',
              fnClick: function () {
                  if ( screenGroupTable.row( '.selected' ).length !== 0 ) {
                      var url = "/ajax-rora-plain-screens/"+screenGroupTable.cell('.selected', 0).data();
                      $("#patientEdit").load(url,function(){
                          $('.multiselect').multiselect(multiConfigurationSet);
                          // disable the enter button
                          $('.multiselect-search').bind('keypress', function(e)
                          {
                             if(e.keyCode == 13)
                             {
                                return false;
                             }
                          });
                          $('#patientEdit').modal('toggle').css({'width': '800px','margin-left': function () {return -($(this).width() / 2);}});
                          $('.modal-body').css({'height': '300px'});
                          $("#patientEdit").modal('show');
                          
                      });
                      
                  }
                    } // function()
            }
        ]
    }
  } );  // #screenGroup_table

  // --- SAMPLES Set Up       ---
  // ----------------------------
  $('#sample_table').DataTable( {
    dom: "lfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#sample_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_SCREEN_SAMPLE_ID" },
            { data: "IDENTIFIER" },
            { data: "DESCRIPTION" },
            { data: "SCREEN_ID" },
            { data: "ORDER_NO" }
        ]
  } );  // #sample_table

  // --- SCREENS Set Up       ---
  // ----------------------------
  screenCreator = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/action/",
        table: "#screen_table",
        "fields": [ {
                "label": "Group Name",
                "name": "group_name"
            }
        ]
    } );

  screenCreator.on( 'preSubmit', function ( e, data, action ) {
                data.csrfmiddlewaretoken = csrftoken;
                data.group_author = username;
                data.table = 'screen';
        } );

  var screenTable = $('#screen_table').DataTable( {
    dom: "Tlfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#screen_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_SCREEN_ID" },
            { data: "IDENTIFIER" },
            { data: "DESCRIPTION" },
            { data: "SOURCE_IDENTIFIER" },
            { data: "ENTITY_ID" },
            { data: "BREEZE_ALIAS" },
            { data: "TIME_STAMP" }
        ],
    tableTools: {
        sRowSelect: "multi",
        aButtons: [
            { sExtends: "select_single", sButtonText: 'Edit',
                fnClick: function() {
                    if ( screenTable.row('.selected').length !== 0 ){
                        var url = "/screen-data/"+screenTable.cell('.selected', 0).data();
                       
                        $("#patientEdit").load(url,function(){
                            $('.multiselect').multiselect(multiConfigurationSet);
                            $("#patientEdit").modal('show');
                            $('#id_alias').qtip({ // Grab some elements to apply the tooltip to
                                content: {
                                    title: 'Name Convention',
                                    text: '<b>Rules</b>: PatientIdentifier_SamplingDate_SamplingTime_TissuseSourceCode_Media_ReadOut'+
                                    '<br> <b> Example </b>: <br> <b>Patient identifer</b>: source.PatientNumer (e.g. FHRB_303)<br> <b>Sampling date</b>: 230914 <br>'+
                                    '<b>Sampling time</b>: 1130 <br> <b>Tiusse source code</b>: PB <br> <b>Media</b>: CM <br> <b>Readout</b>: CTG'+ 
                                    '<br> <b>Final Breeze Alias</b>:<br>FHRB_303_230914_1130_PB_CM_CTG'
                                },
                                style: {
                                    classes: 'qtip-bootstrap'
                                }
                            })
                        });
                    }
                }
            },
            { sExtends: "editor_remove", editor: screenCreator },
            {
              sExtends: 'select_single',
              sButtonText: 'Generate Report',
              fnClick: function() {
                if ( screenTable.row('.selected').length !== 0 ){
                  var iid = screenTable.row('.selected').node().id
                  requestStr = '/reports/overview/ScreenReport-__Screen__' + iid.substring(4) + '-' + iid.substring(4)
                  window.location.replace(requestStr);
                }
              }
            }
        ]
    }
  } );  // #screen_table


  // --- PATIENTS Set Up ---
  // ----------------------------
  patientEditor = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/action/",
        table: "#patient_table",
        //idSrc: "id",
        "fields": [
            { "label": "Identifier:",   "name": "IDENTIFIER",         "type": "text", "attr": { "required": true } },
            { "label": "Source:",       "name": "SOURCE_IDENTIFIER",  "type": "text", "def": "FIMM" },
            { "label": "Description:",  "name": "DESCRIPTION",        "type": "textarea" },
            { "label": "Organism:",     "name": "ORGANISM_ID",        "type": "select" },
            { "label": "Sex:",          "name": "SEX_ID",             "type": "select" },
            { "label": "Birth date:",   "name": "BIRTHDATE",          "type": "date",  "dateFormat": "yy-mm-dd", "opts": { "changeMonth": true, "changeYear": true }  }
        ]
    } );
    

  
  // Set field options:
  patientEditor.field('ORGANISM_ID').update( [ 'Homosapiens', 'Mouse'  ] );
  patientEditor.field('SEX_ID').update( [ 'Male', 'Female'  ] );


  // Supply additional parameters before Submit:
  patientEditor.on( 'preSubmit', function ( e, data, action ) {
                data.csrfmiddlewaretoken = csrftoken;
                data.group_author = username;
                data.table = 'patients';
        } );


  var patientTable = $('#patients_table').DataTable( {
    dom: "Tlfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#patients_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_ENTITY_ID" },
            { data: "IDENTIFIER" },
            { data: "SOURCE_IDENTIFIER" },
            { data: "DESCRIPTION" },
            { data: "ORGANISM_ID" },
            { data: "SEX_ID" },
            { data: "BIRTHDATE" }
        ],
    tableTools: {
        //sRowSelect: "multi",
        sRowSelect: "os",
        aButtons: [
            { sExtends: "select_single", sButtonText: 'Register',
              fnClick:function(){
                  var url = "/patient-new/";
                  
                  $("#patientEdit").load(url,function(){
                      $('.multiselect').multiselect(multiConfigurationSet);
                      $("#patientEdit").modal('show');
                      var id = new LiveValidation( "id_identifier");
                      id.add( Validate.Presence, 
                                    { failureMessage: "This field is required!" } );
                      var source = new LiveValidation( "id_source");
                      source.add( Validate.Presence, 
                                    { failureMessage: "This field is required!" } );
                  });
              }
        },
            //{ sExtends: "editor_edit",   editor: patientEditor },
            { sExtends: "select_single", sButtonText: 'Edit',
               fnClick:function(){
                   
                   if ( patientTable.row('.selected').length !== 0 ){
                       var url = "/patient-data/"+patientTable.cell('.selected', 0).data();
                       
                       $("#patientEdit").load(url,function(){
                           $('.multiselect').multiselect(multiConfigurationSet);
                           $("#patientEdit").modal('show');
                       });
                       
                   }
               }
                },
            { sExtends: "editor_remove", editor: patientEditor },
            {
              sExtends: 'select_single',
              sButtonText: 'Generate Report',
              fnClick: function() {
                if ( patientTable.row('.selected').length !== 0 ){
                  var iid = patientTable.row('.selected').node().id
                  requestStr = '/reports/overview/PatientReport-__Patient__' + iid.substring(4) + '-' + iid.substring(4)
                  window.location.replace(requestStr);
                }
              }
            }
        ]
    }
  } );  // #patients_table

  // --- Compuonds Set Up       ---
  // ----------------------------
  var compoundTable = $('#compounds_table').DataTable( {
    dom: "Tlfrtip",
    retrieve: true,
    //"bDestroy": true,
    ajax: {
      url: "/ajax-rora-patients/" + $('#compounds_table').data('subject'),
      type: "GET"
    },
    serverSide: true,
    columns: [
            { data: "PK_PRODUCT_NAME_ID" },
            { data: "DRUG_NOTATION_ID" },
            { data: "SUPPLIER_ID" },
            { data: "DESCRIPTION" },
            { data: "FIMM_PRODUCT_ID" }
        ],
        tableTools: {
          sRowSelect: "multi",
          aButtons: [
          {
            sExtends: 'select_single',
            sButtonText: 'New',
            fnClick: function() {
                //generate new compound
                var url = "/compound-new/";
                $("#patientEdit").load(url,function(){
                    $('.multiselect').multiselect(multiConfigurationSet);
                    $("#patientEdit").modal('show');
                });
            }
          },
            {
              sExtends: 'select_single',
              sButtonText: 'Generate Report',
              fnClick: function() {
                if ( compoundTable.row('.selected').length !== 0 ){
                  var iid = compoundTable.row('.selected').node().id
                  requestStr = '/reports/overview/DrugReport-__Drug__' + iid.substring(4) + '-' + iid.substring(4)
                  window.location.replace(requestStr);
                }
              }
            }
            
          ]
        }
  } );  // #compounds_table


});
</script>

{% endblock %}
