{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}DB Viewer{% endblock %}

{% block extra_head %}

  <!--
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/DT_bootstrap.js"></script>
  <link rel="stylesheet" href="/static/css/DT_bootstrap.css" type="text/css"/>
  -->
  <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/dataTables.tableTools.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/dataTables.editor.min.css" type="text/css"/>

  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.editor.min.js"></script>

{% endblock %}

{% block content %}
<div class="row-fluid">
  &nbsp;
</div>

<div class="row-fluid">
  <div class="span10 offset1">

    <!-- Tab Headers: -->
    <ul class="nav nav-tabs" id="tabHeaders">
      <li class="active"><a href="#patientsPane" data-toggle="tab">Patients</a></li>
      <li><a href="#screensPane" data-toggle="tab">Screens</a></li>
      <li><a href="#samplesPane" data-toggle="tab">Samples</a></li>
      <li><a href="#sampleGroupsPane" data-toggle="tab">Screen Groups</a></li>
    </ul>

    <!-- Tab Content: -->
    <div class="tab-content">
      <div class="tab-pane active" id="patientsPane">
        <div class="well">
          <p></p>
            <!-- Patients Table -->
            <table class="table table-hover table-bordered roraTable" id="patients_table" data-editor="" data-subject="patient">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>IDENTIFIER</th>
                  <th>SOURCE</th>
                  <th>DESCRIPTION</th>
                  <th>ORGANIZM</th>
                  <th>SEX</th>
                  <th>BIRTHDATE</th>
                  <th>USER_STAMP</th>
                  <th>TIME_STAMP</th>
                </tr>
              </thead>
              <tbody id="patients-pagination-content">
              </tbody>
            </table>
            <!-- END OF Patients Table -->
        </div>
      </div>
      <div class="tab-pane" id="screensPane">
        <div class="well">
          <p></p>
            <!-- Screen Table -->
            <table class="table table-hover table-bordered roraTable" id="screen_table" data-editor="" data-subject="screen">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>IDENTIFIER</th>
                  <th>DESCRIPTION</th>
                  <th>SOURCE</th>
                  <th>PATIENT</th>
                  <th>BREEZE_ALIAS</th>
                  <th>USER_STAMP</th>
                  <th>TIME_STAMP</th>
                </tr>
              </thead>
              <tbody id="patients-pagination-content">
              </tbody>
            </table>
            <!-- END OF Screen Table -->
        </div>
      </div>
      <div class="tab-pane" id="samplesPane">
        <div class="well">
          <p></p>
            <!-- Sample Table -->
            <table class="table table-hover table-bordered roraTable" id="sample_table" data-editor="" data-subject="sample">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>IDENTIFIER</th>
                  <th>DESCRIPTION</th>
                  <th>SCREEN</th>
                  <th>DOSAGE</th>
                  <th>USER_STAMP</th>
                  <th>TIME_STAMP</th>
                </tr>
              </thead>
              <tbody id="patients-pagination-content">
              </tbody>
            </table>
            <!-- END OF Sample Table -->
        </div>
      </div>
      <div class="tab-pane" id="sampleGroupsPane">
        <div class="well">
          <p></p>
          <!-- ScreenGrops Table -->
            <table class="table table-hover table-bordered roraTable" id="screenGroup_table" data-editor="" data-subject="group">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>USERNAME</th>
                  <th>GROUPNAME</th>
                  <th>USER_STAMP</th>
                  <th>TIME_STAMP</th>
                </tr>
              </thead>
              <tbody id="patients-pagination-content">
              </tbody>
            </table>
            <!-- END OF ScreenGrops Table -->
        </div>
      </div>
    </div>
    <!-- END OF Tab Content: -->

  </div>
</div>

<script>
var editor;

$(document).ready(function() {

  editor = new $.fn.dataTable.Editor( {
        ajax: "/ajax-rora/new-patient",
        table: "#patients_table",
        "fields": [ {
                "label": "First name:",
                "name": "first_name"
            }, {
                "label": "Last name:",
                "name": "last_name"
            }, {
                "label": "Position:",
                "name": "position"
            }, {
                "label": "Office:",
                "name": "office"
            }
        ]
    } );

  $('table.roraTable').each(function(index){
    console.log( $(this).data('subject') );

    $(this).DataTable( {
      dom: "Tlfrtip",
      //"bDestroy": true,
      ajax: {
        url: "/ajax-rora-patients/" + $(this).data('subject'),
        type: "GET"
      },
      serverSide: true,
      tableTools: {
          sRowSelect: "os",
          aButtons: [
              { sExtends: "editor_create", editor: editor },
              { sExtends: "editor_edit",   editor: editor },
              { sExtends: "editor_remove", editor: editor }
          ]
      }
    } );  // DataTable()

  });  // each()


  // We also need to set a new class on the DataTables wrapper element in order to make the form elements appear inline rather than as a block.
  // The table filtering input and length selector are effected by this. We extend the "sWrapper" class option for the DataTable:
  // $.extend( $.fn.dataTableExt.oStdClasses, {
  //   "sWrapper": "dataTables_wrapper form-inline"
  // });

  // /* Table initialisation */
  // $('#patients_table').dataTable({
  //       "bJQueryUI": true,
  //       "sDom":  "<'row'<'span5 offset1'l><'span6'f>r>t<'row'<'span5 offset1'i><'span6'p>>",
  //       "sPaginationType": "bootstrap",
  //       "bProcessing": true,
  //       "bServerSide": true,
  //       "sAjaxSource": "/ajax-rora-patients/patient"
  // });

  // $('#screen_table').dataTable({
  //       "bJQueryUI": true,
  //       "sDom":  "<'row'<'span5 offset1'l><'span6'f>r>t<'row'<'span5 offset1'i><'span6'p>>",
  //       "sPaginationType": "bootstrap",
  //       "bProcessing": true,
  //       "bServerSide": true,
  //       "sAjaxSource": "/ajax-rora-patients/screen"
  // });

  // $('#sample_table').dataTable({
  //       "bJQueryUI": true,
  //       "sDom":  "<'row'<'span5 offset1'l><'span6'f>r>t<'row'<'span5 offset1'i><'span6'p>>",
  //       "sPaginationType": "bootstrap",
  //       "bProcessing": true,
  //       "bServerSide": true,
  //       "sAjaxSource": "/ajax-rora-patients/sample"
  // });

});
</script>

{% endblock %}