<!doctype html>
<html>
  
  <head>
    <title>Breeze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html">BREEZE</a>
          <div class="navbar-content">
	    <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li>
                <a href="home.html">Home</a> 
              </li>
              <li>
                <a href="#">Jobs</a> 
              </li>
              <li class="active">
                <a href="scripts.html">Scripts</a> 
              </li>
              <li>
                <a href="#">Help</a> 
              </li>
              <ul class="nav nav-tabs"></ul>
              <ul class="nav pull-right"></ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <ul class="nav nav-pills">  
    <li class="dropdown all-camera-dropdown">  
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">  
            Data Base  
               <b class="caret"></b>  
           </a>  
    <ul class="dropdown-menu">  
            <li data-filter-camera-type="all"><a data-toggle="tab" href="#">db1</a></li>  
            <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">db2</a></li>  
            <li data-filter-camera-type="Zed"><a data-toggle="tab" href="#">db3</a></li>  
            <li data-filter-camera-type="Bravo"><a data-toggle="tab" href="#">...</a></li>  
  
    </ul>  
        </div>
      </div>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>
