{% for group in groups %}
  <tr>
    <td> {{ group.name }} </td>
    <td> <!-- View -->
      <a href="#" class="ginfo" data-toggle="modal" data-target="#GroupInfo" data-param={{ group.id }}>
          <i class="icon-info-sign"></i>
      </a>
    </td>
    <td> <!-- Edit -->
      <a href="#" class="hcalls" data-toggle="modal" data-target="#EditGroup" data-param="/groups/edit/{{ group.id }}">
        <i class="icon-edit"></i>
      </a>
    </td>
    <td></td>
    <td> <!-- Delete -->
      <a href="#" data-toggle="modal" data-target="#DeleteItem" onclick="$('#del_item_btn').attr('href', '/groups/delete/{{ group.id }}'); $('#del_title').text('{{ group.name }}'); $('#del_body').html('All related jobs and reports will be deleted as well! <br>Do you want to delete this group ?!');">
        <i class="icon-trash"></i>
      </a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td></td> <td>No Groups found in the data base...</td><td></td><td></td><td>
  </tr>
{% endfor %}