<!doctype html>
<html>
  
  <head>
    <title>Breeze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="../index.html">BREEZE</a>
          <div class="navbar-content">
	    <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active">
                <a href="/home">Home</a> 
              </li>
              <li>
                <a href="/jobs">Jobs</a> 
              </li>
              <li>
                <a href="/scripts">Scripts</a> 
              </li>
              <li>
                <a href="#">Help</a> 
              </li>
              <ul class="nav nav-tabs"></ul>
              <ul class="nav pull-right"></ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        </div>
      </div>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>
