{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Home{% endblock %} 

{% block extra_head %}
<style>
  .thumbnails .span4:nth-child(3n+1) {
margin-left:0;
}
</style>
    
{% endblock %}

{% block content %}
<div class="row-fluid"> 
  
  <div class="span3 well">
    <div class="row ">
      <img style="float: left; margin: 1px 11px 1px 19px; height: 72px; width: 72px;" src="/static/user.jpg" class="thumbnail img-rounded">
      <p>User Name: @{{ user.username }}</p>
      <p><strong> {{ user.profile }} </strong></p>
      <span class=" badge badge-warning">8 in progress</span> <span class=" badge badge-info">15 sheduled</span>            
    </div>  
  </div>   
  
  
  
  <div class="span6">
    <div class="alert alert-info">
    <p><strong>HUOM!</strong></p>
    <p>For BUG Tracking reasons please make use of BREEZE GitHub 
      <a href="https://github.com/findcomrade/isbio/issues" target="_blank"><u>Issues Page</u>.</a> 
      Any other enhancement ideas are very welcome. Kiitos! </p>
    </div>
  </div>
        

  
  <div class="span3">
    <div name="datepicker" id="datepicker" align="center" ></div>
    <p>&nbsp;</p>
    
  </div>
  
  
</div>

<script type="text/javascript">
    $(function () {

        // Datepicker
        $('#datepicker').datepicker({
            inline: true,
            autoSize: true
        });
        
            
        // File input (using http://filamentgroup.com/lab/jquery_custom_file_input_book_designing_with_progressive_enhancement/)
        $('#file').customFileInput({ });
        
    });
    
    $("#test").click(function(){
        GetProgres();    
    });
</script>


{% endblock %}