{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Home{% endblock %} 

{% block extra_head %}
    
{% endblock %}

{% block content %}
<div class="row-fluid">    
  <div class="span3">
    <div name="datepicker" id="datepicker" align="center" ></div>
    <p>&nbsp;</p>
    <div class="alert alert-info">
    <p><strong>HUOM!</strong></p>
    <p>For BUG Tracking reasons please make use of BREEZE GitHub 
      <a href="https://github.com/findcomrade/isbio/issues" target="_blank"><u>Issues Page</u>.</a> 
      Any other enhancement ideas are very welcome. Kiitos! </p>
    </div>
  </div>
  
  <div class="span9">
  
    <div class="well">
      <p>Use Name: {{ user.username }}</p>
      <p>Last Login: {{ user.last_login }}</p>
      <p>Rights: {{ user.get_all_permissions }}</p>
    </div>
    
    <p>&nbsp;</p>  
    
    
  </div>
</div>

<script type="text/javascript">
    $(function () {

        // Datepicker
        $('#datepicker').datepicker({
            inline: true,
            autoSize: true
        });
        
            
        // File input (using http://filamentgroup.com/lab/jquery_custom_file_input_book_designing_with_progressive_enhancement/)
        $('#file').customFileInput({ });
        
    });
    
    $("#test").click(function(){
        GetProgres();    
    });
</script>


{% endblock %}