<form name="del-sel" id="del-sel" method="POST" action="/jobs/{{ page }}/group-delete/">
	{% csrf_token %}
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Finished</th>
			<th>Job Name</th>
			<th>Type</th>
			<th>Status</th>
			<th>Download</th>
			<th>Misc</th>
			<th>Delete <input type="checkbox" name="del-all" value="" onclick="check_all(this);"/></th>
		</tr>
		</thead>
		<tbody>
{% for job in history %}
	<tr>
		<td>{{ job.staged }}</td>
		<td>{{ job.jname }}</td>
		<td>{{ job.type }}</td>
		<!-- Status Label -->
		<td>
			{% if job.status == "succeed" %}
				<span class="label label-success">{{ job.status.upper }}</span>
			{% elif job.status == "failed" %}
				<span class="label label-important" data-toggle="tooltip" title="{{ job.r_error }}" data-toggle="tooltip">{{ job.status.upper }}</span>
			{% elif job.status == "aborted" %}
				<span class="label label-warning">{{ job.status.upper }}</span>
			{% endif %}
		</td>
		<!-- Download Button -->
		<td>
			<div class="btn-group">
				{% if job.status == "succeed" %}
				<a class="btn btn-inverse" href="{{ job.rdownhref }}"><i
				  class="icon-white icon-download-alt"></i> results </a>
				{% else %}
				<a class="btn btn-inverse disabled" href="#" disabled><i
				  class="icon-white icon-download-alt"></i> results </a>
				{% endif %}

				<button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown"
				  {% if not is_local_admin and not job.instance == "report" or job.instance == "report" and  not job.status == "succeed" or job.instance == "report" and job.status == "succeed" and not job.go_shiny %}
					  disabled="disabled"
				  {% endif %}
				  ><span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{% if is_local_admin %}
						<li align="right"><a href="{{ job.ddownhref }}">R-Debug Info <i class="icon-list-alt"></i></a></li>
						<li class="divider"></li>
						<li align="right"><a href="{{ job.fdownhref }}">Full Job Set <i class="icon-folder-open"></i></a>
						</li>
					{% endif %}
					<!-- Re-Run -->
					{% if job.instance == "report" %}
						<li class="divider"></li>
						<li align="right">
						<a href="{{ job.reschedhref }}">
							Re-Run / Duplicate
							<i class="icon-repeat"></i>
						</a>
					</li>
					{% endif %}
					<!-- Shiny tab -->
					{% if job.instance == "report" and job.status == "succeed" and  job.go_shiny %}
						<li class="divider"></li>
						<li align="right">
							<a href="/reports/shiny-tab/{{ job.id }}">
								Shiny report
								<i class="icon-eye-open"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</td>

		<!-- Parameters Details Modal Dialog -->
		<!-- <td><a href="#" data-toggle="modal" class="btn btn-inverse rtext" data-target="#script"  data-param={{ job.id }}><i class="icon-
    white icon-file"></i></a></td>   -->

		<!-- View Button -->
		<td>
			{% if job.instance == 'script' %}
				<!-- { if job.status == 'failed' or job.status == 'aborted' } -->
				<a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param="{{ job.reschedhref }}">
					<!--{ else %}
					<a href="#"class="btn btn-inverse disabled" disabled>
				{ endif %}-->
					<i class="icon-white icon-repeat"></i>
				</a>
			{% elif job.status == 'failed' or job.status == 'aborted' %}
				<a class="btn btn-inverse" href="{{ job.reschedhref }}">
					<i class="icon-white icon-repeat"></i>
				</a>
			{% else %}
				<a class="btn btn-primary" href="/reports/view/{{ job.id }}/" target="_blank">
					<i class="icon-white icon-eye-open"></i>
				</a>
			{% endif %}
		</td>

		<!-- Delete Button
		<td><a href="#" data-toggle="modal" class="btn btn-danger" data-target="#Del"
		       onclick="$('#del_btn').attr('href', '{{ job.delhref }}?page={{ page }}'); $('#del_title').text('{{ job.jname }}');"><i
		  class="icon-trash"></i></a></td>
		-->
		<!-- new Delete Button -->
		<td><label><input type="checkbox" name="delete" value="{{ job.instance }}-{{ job.id }}">&nbsp;&nbsp;<i class="icon-trash"></i></label></td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="7">No scheduled job at the moment.</td>
	</tr>
{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<span style="float:right;">
				Delete selection :
					<a href="#" onclick="$('#del_btn').attr('onclick', 'document.forms[\'del-sel\'].submit();');"
				                      data-toggle="modal" class="btn btn-danger" data-target="#Del">
					<i class="icon-trash"></i></a> <!-- $('#del-sel').attr('action', '/jobs/{{ page }}/group-delete/'); 'document.getElementById(\'del-sel\').submit();'  -->
				</span>
			</tr>
		</tfoot>
	</table>
</form>
