{% for job in history %}
  <tr>
    <td>{{ job.staged }}</td>
    <td>{{ job.jname }}</td>
    <td></td>
    <!-- Status Label -->
    <td>
      {% if job.status == "succeed" %}
        <span class="label label-success">{{ job.status.upper }}</span>
      {% elif job.status == "failed" %}
        <span class="label label-important">{{ job.status.upper }}</span>
      {% elif job.status == "aborted" %}
        <span class="label label-warning">{{ job.status.upper }}</span>
      {% endif %}
    </td>
    <!-- Download Button -->
    <td>
      <div class="btn-group">
        <a class="btn btn-inverse" href="{{ job.rdownhref }}"><i class="icon-white icon-download-alt"></i> Results</a>
        <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li align="right"><a href="{{ job.ddownhref }}">R-Debug Info <i class="icon-list-alt"></i></a></li>
          <li class="divider"></li>
          <li align="right"><a href="{{ job.fdownhref }}">Full Job Set <i class="icon-folder-open"></i></a></li>
        </ul>
      </div>
    </td>

    <!-- Parameters Details Modal Dialog -->
    <!-- <td><a href="#" data-toggle="modal" class="btn btn-inverse rtext" data-target="#script"  data-param={{ job.id }}><i class="icon-
    white icon-file"></i></a></td>   -->

    <!-- Reschesule Button -->
    <td>
      {% if job.instance == 'script' %}
      <a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply" data-param="{{ job.reschedhref }}" >
        <i class="icon-white icon-repeat"></i>
      </a>
      {% else %}
      <a class="btn btn-inverse" href="/media/{{ job.home }}/report.html" target="_blank" >
        <i class="icon-white icon-eye-open"></i>
      </a>
      {% endif %}
    </td>

    <!-- Delete Button -->
    <td><a href="#" data-toggle="modal" class="btn btn-danger" data-target="#Del" onclick="$('#del_btn').attr('href', '{{ job.delhref }}'); $('#del_title').text('{{ job.jname }}');" ><i class="icon-trash"></i></a></td>
  </tr>
{% endfor %}