{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block title %}Dash{% endblock %}
{% block extra_head %}
	<style type="text/css">
		.btn-group > .btn:first-child {
			min-width: 60px;
		}
	</style>
	<script type="text/javascript" src="/static/js/bootstrap-paginator.min.js"></script>
{% endblock %}
{% block content %}
	<!-- TODO : TOTAL REDISIGN OF THIS PAGE, REMOVE THE BS JS code and go full AJAX -->
	<div class="row-fluid">
		&nbsp;
	</div>
	<div class="row-fluid">
		<!-- LEFT DASH PANEL -->
		<div class="span3 offset1">
			<div data-spy="affix span3" >
				<table class="table table-bordered table-condensed" id="live-container">
					<!-- TODO : fix bad nesting design -->
					{% include "jobs-live.html" %}
				</table>
			</div>
		</div>
		<!-- RIGHT MAIN TABS TABLES -->
		<div class="span7" >
			<div class="tabbable" id="main-container">
				{% include "jobs-content.html" %}
			</div>
		</div>
	</div>

	<!-- Modals -->
	<div id="script" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>
	<div id="Apply" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>
	<div id="Del" class="modal hide fade" role="dialog"  aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="del_title">Delete JOB</h3>
		</div>
		<div class="modal-body">
			<p> Are you sure you DO NOT need this job any more?! </p>
		</div>
		<div class="modal-footer">
			<a id="del_btn" href="#" class="btn btn-danger" > Delete </a>
			<a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
		</div>
	</div>
	<!-- TODO redesign due to : very poor design :: (too much) duplicated code -->
	<script type="text/javascript">
		function changePage(e, oldPage, newPage, callback) {
			$.get("/jobs/", {page: newPage}, function (data) {
				$('#history_top').html(data);
				if('function'==typeof callback) {
					callback();
				}
			});
		}
		$(document).ready(function() {
			// paginator setup
			var pagOptions = {
				currentPage: {{ page|default:1 }},
				numberOfPages:5,
				totalPages: "{{ pagination_number }}",
				alignment:'center',
				onPageChanged: function (e, oldPage, newPage) {
					changePage(e, oldPage, newPage);
				}
			}

			$('#paginator_control').bootstrapPaginator(pagOptions);

			modalConnect();
			var db_access = '#db_access';
			if($(db_access).data('para')=="False"){
				$("#db").click(function(e){
					e.preventDefault();
					$('#db_policy').modal('show');
				});
			}

			$(".jbar").each(function(){
				var par = $(this).data("param");
				var itm = $(this).data("inst");
				updateJobs(par, itm);
			});
			//updateAllJobs();
		});


		$(".abort").click(function(ev){
			ev.preventDefault(); // prevent navigation
			var par = $(this).data("param");
			$.ajax({
				type: "GET",
				url: par,
				success: function(response){
				},
				error: function (request, status, error) {
					//implement proper error handling
					console.log(request);
					//console.log(request.responseText);
				}
			});
		});
		$(".rtext").click(function(ev) {
			ev.preventDefault(); // prevent navigation
			var par = $(this).data("param");
			$("#script").load("/jobs/show-code/"+par, function() {
				$('#collapseOne').collapse('hide');
				$(this).modal('show');
			});
			return false; // prevent the click propagation
		});
	</script>
	<script type="text/javascript">
		function submitItemModalFormBind(url){
			$('#form_modal_apply').submit(function(ev){
				var formData = new FormData($('form')[0]);
				$.ajax({
					type: "POST",
					url: url,
					enctype: 'multipart/form-data',
					data: formData,
					success:function(response, textStatus, jqXHR){
						var form = $("#form_modal_apply_div", response);
						//form is returned if it is not valid. update modal with returned form
						//change this "if" to check for a specific return code which should be set in the view
						if (form.html()) {
							//update modal div

							$('#form_modal_apply_div').html(form);

							$("input:file").each(function(){
								if ( $(this).hasClass('TPL') ){
									var which = $(this).attr('which');
									$(this).after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Click to download a template<a/>');
									$(this).customFileInput({ });
								}
							});

							//$("input:file").customFileInput({ });
							$("#Apply").modal('show');
						}
						//form is not returned if form submission succeeded
						else{
							//update the entire document with the response received since we received a entire success page and we want to reload the entire page
							//document.open();
							//document.write(response);
							//document.close();
							//$("#Apply").modal('hide');
							window.location.href = '/jobs/';
						}
					},
					error: function (request, status, error) {
						//implement proper error handling
						console.log("failure");
						console.log(request.responseText);
					},
					cache: false,
					contentType: false,
					processData: false
				});
				return false;
			});
		}

		function modalConnect(){
			$(".apply").unbind('click');
			//bind the click event
			$(".apply").click(function(ev) {
				ev.preventDefault(); // prevent navigation
				var par = $(this).data("param");
				$.get("/jobs/edit/"+par, function(results){
					//update the dom with the received form
					$('#Apply').html(results);

					$("input:file").each(function(){
						if ( $(this).hasClass('TPL') ){
							var which = $(this).attr('which');
							$(this).after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Click to download a template<a/>');
							$(this).customFileInput({ });
						}
					});

					//$("input:file").customFileInput({ });
					$("#Apply").modal('show');
					$(document).ready(function () {
						//bind the form to an ajax call. ajax call will be set to the received update url
						submitItemModalFormBind("/jobs/edit/"+par);
					});

				}, "html");
				return false; // prevent the click propagation
			});
		}

		var last_state = [];

		function updateJobs(jid, item) {
			$.ajax({
				type: "GET",
				url: "/update-jobs/"+jid+"-"+item,
				dataType : 'json',
				success: function (msg) {
					var arg = "width: " + msg.progress.toString() + "%";

					$("#" + jid.toString() + "_bar").attr('style', arg);
					$("#" + jid.toString() + "_SGEstatus").text(msg.name.toString() + " - " + msg.sge.toString());
					$("#" + jid.toString() + "_list_td").text(msg.sge.toString());

					//A job is not running anymore
					if (msg.status != "active" && msg.status != "queued_active" && msg.status != "init") {
						//window.setTimeout(function() {window.location.href = '/jobs/';} , 150);
						changePage(null, 1, 1, modalConnect);

						var jstatus = '';
						var jbar = '';
						if (msg.status == "succeed") { jstatus = "success"; jbar = "success"; }
						else if (msg.status == "failed") { jstatus = "error"; jbar = "danger"; }
						else if (msg.status == "aborted") { jstatus = "error"; jbar = "warning"; }

						$("#" + jid.toString() + "_tr1").attr('class', jstatus);
						$("#" + jid.toString() + "_tr2").attr('class', jstatus);
						$("#" + jid.toString() + "_div").attr('class', "progress progress-" + jbar + " progress-striped active");

						modalConnect();

						// Remove line from 'In progress tab'
						$("#" + jid.toString() + "_list_tr").remove();
						// Decrease or remove the counter
						var a = parseInt($("#current_tab_li_a .badge").html()) - 1 ;
						if(a>0){
							$("#current_tab_li_a .badge").html(a.toString())
						}else {
							$("#current_tab_li_a .badge").remove();
						}
					}else{
						if(msg.status!= last_state[jid]) {
							var jstatus = '';
							var jbar = '';
							if (msg.status == "active") {
								jstatus = "success";
								jbar = "info";
							}
							else if (msg.status == "queued_active" || msg.status == "init") {
								jstatus = "success";
								jbar = "warning";
							}

							$("#" + jid.toString() + "_tr1").attr('class', jstatus);
							$("#" + jid.toString() + "_tr2").attr('class', jstatus);
							$("#" + jid.toString() + "_div").attr('class', "progress progress-" + jbar + " progress-striped active");
						}
						if(msg.status == "queued_active"){
							delay = 1000
						}else {
							delay = 300
						}
						window.setTimeout(updateJobs, delay, jid, item);
					}
					last_state[jid] = msg.status;
				},
				error: function (request, status, error) {
					//implement proper error handling
					$("#" + jid.toString() + "_tr1").attr('class', 'error');
					$("#" + jid.toString() + "_tr2").attr('class', 'error');
					$("#" + jid.toString() + "_div").attr('class', "progress progress-warning");
					$("#" + jid.toString() + "_SGEstatus").text("ERROR while checking status ! (Reload the page)");
				}
			});
		};

		function updateAllJobs() {
			$.ajax({
				type: "GET",
				url: "/update-all-jobs/",
				dataType: 'json',
				success: function (msgZ) {
					//for (var msg in msgZ) {
					//console.log($(".bar.jbar"));
					$(".bar.jbar").each(function (id, el) {
						var jid = parseInt(el.id);

						if ( msgZ[jid] ) {
							var msg = msgZ[jid];

							var arg = "width: " + msg.progress.toString() + "%";

							$("#" + jid.toString() + "_bar").attr('style', arg);
							$("#" + jid.toString() + "_SGEstatus").text(msg.name.toString() + " - " + msg.sge.toString());
							$("#" + jid.toString() + "_list_td").text(msg.sge.toString());

							//A job is not running anymore
							if (msg.status != "active" && msg.status != "queued_active" && msg.status != "init") {
								//window.setTimeout(function() {window.location.href = '/jobs/';} , 150);
								changePage(null, 1, 1, modalConnect);

								var jstatus = '';
								var jbar = '';
								if (msg.status == "succeed") {
									jstatus = "success";
									jbar = "success";
								}
								else if (msg.status == "failed") {
									jstatus = "error";
									jbar = "danger";
								}
								else if (msg.status == "aborted") {
									jstatus = "error";
									jbar = "warning";
								}

								$("#" + jid.toString() + "_tr1").attr('class', jstatus);
								$("#" + jid.toString() + "_tr2").attr('class', jstatus);
								$("#" + jid.toString() + "_div").attr('class', "progress progress-" + jbar + " progress-striped active");

								modalConnect();

								// Remove line from 'In progress tab'
								$("#" + jid.toString() + "_list_tr").remove();
								// Decrease or remove the counter
								var a = parseInt($("#current_tab_li_a .badge").html()) - 1;
								if (a > 0) {
									$("#current_tab_li_a .badge").html(a.toString())
								} else {
									$("#current_tab_li_a .badge").remove();
								}
							} else {
								if (msg.status != last_state[jid]) {
									var jstatus = '';
									var jbar = '';
									if (msg.status == "active") {
										jstatus = "success";
										jbar = "info";
									}
									else if (msg.status == "queued_active" || msg.status == "init") {
										jstatus = "success";
										jbar = "warning";
									}

									$("#" + jid.toString() + "_tr1").attr('class', jstatus);
									$("#" + jid.toString() + "_tr2").attr('class', jstatus);
									$("#" + jid.toString() + "_div").attr('class', "progress progress-" + jbar + " progress-striped active");
								}
								if (msg.status == "queued_active") {
									delay = 1000
								} else {
									delay = 300
								}

							}
							last_state[jid] = msg.status;

						}else {
							//element not returned by the server
							// job is done or failed, but we need to ask again
							updateJobs(id, el.data("inst"));
						}
					});
					window.setTimeout(updateAllJobs, delay);
				},
				error: function (request, status, error) {
					$(".bar.jbar").each(function (id, el) {
						var jid = parseInt(el.id);
						//implement proper error handling
						$("#" + jid.toString() + "_tr1").attr('class', 'error');
						$("#" + jid.toString() + "_tr2").attr('class', 'error');
						$("#" + jid.toString() + "_div").attr('class', "progress progress-warning");
						$("#" + jid.toString() + "_SGEstatus").text("ERROR while checking status ! (Reload the page)");
					});

				}
			});
		}
	</script>
	<!-- New design attempt -->
	<script type="text/javascript">
		// Refresh paginator selector
		function apply_pg(options) {
			refresh = false;
			$('#history').bootstrapPaginator(options);
			refresh = true;
		}
		var refresh = true;

		// not finished, WIP
		/*
		function reload () {
			//window.setTimeout(updateJobs, delay, jid, item);
			//$("#pagination-content").fadeTo(0, 0.33);
			//var formData = $('#filter_form').serialize();
			$.ajax({
				type   : 'GET',
				url    : '/jobs/live-container',
				data   : {'get-live': 1},
				success: function (response, textStatus, jqXHR) {
					//$("#pagination-content").fadeTo(0, 1);
					$("#live-container").html(response);
				},
				error  : function (request, status, error) { console.log(error); }
			});
			//call refresh
			//apply_pg(pagOptions);
		} */
	</script>
{% endblock %}

