{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block title %}Dash{% endblock %}
{% block extra_head %}
	<style type="text/css">
		.btn-group > .btn:first-child {
			min-width: 60px;
		}
	</style>
	<script type="text/javascript" src="/static/js/bootstrap-paginator.min.js"></script>

	<script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
	<link href="/static/css/bootstrapSwitch.css" rel="stylesheet">
	<script src="/static/js/bootstrapSwitch.js"></script>

	<style type="text/css">
		#main_table td { text-align: center; vertical-align: middle; }

		#main_table th { text-align: center; vertical-align: middle; }

		.popover .left {
			max-width: 1050px;
			width: auto;
		}

		div.popover.fade.right {
			z-index: 1500;
		}

		.pagination {
			margin-top: 15px;
			margin-right: 0px;
			margin-bottom: 15px;
			margin-left: 0px;
		}

		.btn-left {
			top: 0px;
			left: 9%;
			position: relative;
			float: left;
			z-index: 200;
		}

		.btn-right {
			top: 0px;
			right: 9%;
			position: relative;
			float: right;
			z-index: 200;
		}

		#demo {
			z-index: 150;
		}
	</style>

{% endblock %}
{% block content %}
	<!-- TODO : TOTAL REDESIGN OF THIS PAGE, REMOVE THE BS JS code and go full AJAX -->
	<!-- site map bar -->
	<div class="row-fluid">
		<div class="span10 offset1">
			<ul class="breadcrumb pull-left" style="background-color: transparent;">
				<li><a href="/home/">Breeze</a> <span class="divider">/</span></li>
				<li class="active"> Dashboard</li>
			</ul>
		</div>
	</div>

	{% if queue_is_full and current_nb > 0 %}
		<!-- Warning container -->
		<div class="row-fluid">
			<div class="span6 offset3 alert alert-warning" style="padding-bottom: 12px;padding-top: 12px;">
				<strong>Notice :</strong>The job cluster is currently full.
				Your jobs/reports will be processed as soon as a free slot will be available.
			</div>
		</div>
	{% endif %}

	<!-- MAIN container -->
	<div class="row-fluid">
		<!-- LEFT DASH PANEL -->
		<div class="span3 offset1">
			<div data-spy="affix span3" >
				<table class="table table-bordered table-condensed" id="live-container">
					<!-- TODO : fix bad nesting design -->
					{% include "jobs-live.html" %}
				</table>
			</div>
		</div>
		<!-- RIGHT MAIN TABS TABLES -->
		<div class="span7" >
			<div class="tabbable" id="main-container">
				{% include "jobs-content.html" %}
			</div>
		</div>
	</div>

	<!-- Modals -->
	<div id="script" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>
	<div id="Apply" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>
	<div id="Del" class="modal hide fade" role="dialog"  aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="del_title">Delete JOB</h3>
		</div>
		<div class="modal-body">
			<p> Are you sure you DO NOT need theses job/reports any more?! </p>
		</div>
		<div class="modal-footer">
			<a id="del_btn" href="#" class="btn btn-danger" > Delete </a>
			<a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
		</div>
	</div>
	<script type="text/javascript">
		function changePage(e, oldPage, newPage, callback) {
			//$.get("/jobs/" , {page: newPage}, function (data) {
			$.get("/jobs/" + newPage + "/", {}, function (data) {
				$('#history_top').html(data);
				if('function'==typeof callback) {
					callback();
				}
			});
		}
		$(document).ready(function() {
			// paginator setup
			var pagOptions = {
				currentPage: {{ page|default:1 }},
				numberOfPages:5,
				totalPages: "{{ pagination_number }}",
				alignment:'center',
				onPageChanged: function (e, oldPage, newPage) {
					changePage(e, oldPage, newPage);
				}
			}

			$('#paginator_control').bootstrapPaginator(pagOptions);

			modalConnect();
			var db_access = '#db_access';
			if($(db_access).data('para')=="False"){
				$("#db").click(function(e){
					e.preventDefault();
					$('#db_policy').modal('show');
				});
			}

			$(".jbar").each(function(){
				var par = $(this).data("param");
				var itm = $(this).data("inst");
				//updateJobs(par, itm);
				updateJobsLp(par, itm);
			});
		});

		$(".abort").click(function(ev){
			ev.preventDefault(); // prevent navigation
			var par = $(this).data("param");
			$.ajax({
				type: "GET",
				url: par,
				success: function(response){
				},
				error: function (request, status, error) {
					//implement proper error handling
					console.log(request);
					//console.log(request.responseText);
				}
			});
		});

		$(".rtext").click(function(ev) {
			ev.preventDefault(); // prevent navigation
			var par = $(this).data("param");
			$("#script").load("/jobs/show-code/"+par, function() {
				$('#collapseOne').collapse('hide');
				$(this).modal('show');
			});
			return false; // prevent the click propagation
		});
	</script>
	<script type="text/javascript">
		function submitItemModalFormBind(url){
			$('#form_modal_apply').submit(function(ev){
				var formData = new FormData($('#form_modal_apply')[0]);
				$.ajax({
					type: "POST",
					url: url,
					enctype: 'multipart/form-data',
					data: formData,
					success:function(response, textStatus, jqXHR){
						var form = $("#form_modal_apply_div", response);
						//form is returned if it is not valid. update modal with returned form
						//change this "if" to check for a specific return code which should be set in the view
						if (form.html()) {
							//update modal div

							$('#form_modal_apply_div').html(form);

							$("input:file").each(function(){ // FIXME : realy dirty hack
								if ( $(this).hasClass('TPL') ){
									var which = $(this).attr('which');
									$(this).after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Click to download a template<a/>');
									$(this).customFileInput({ });
								}
							});

							//$("input:file").customFileInput({ });
							$("#Apply").modal('show');
						}
						//form is not returned if form submission succeeded
						else{
							//update the entire document with the response received since we received a entire success page and we want to reload the entire page
							//document.open();
							//document.write(response);
							//document.close();
							//$("#Apply").modal('hide');
							window.location.href = '/jobs/{{ page|default:1 }}/';
						}
					},
					error: function (request, status, error) {
						//implement proper error handling
						console.log("failure");
						console.log(request.responseText);
					},
					cache: false,
					contentType: false,
					processData: false
				});
				return false;
			});
		}

		function modalConnect(){
			$(".apply").unbind('click');
			//bind the click event
			$(".apply").click(function(ev) {
				ev.preventDefault(); // prevent navigation
				var par = $(this).data("param");
				$.get(par, function(results){
					//update the dom with the received form
					$('#Apply').html(results);

					$("input:file").each(function(){ //FIXME dirty hack
						if ( $(this).hasClass('TPL') ){
							var which = $(this).attr('which');
							$(this).after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Click to download a template<a/>');
							$(this).customFileInput({ });
						}
					});

					//$("input:file").customFileInput({ });
					$("#Apply").modal('show');
					$(document).ready(function () {
						//bind the form to an ajax call. ajax call will be set to the received update url
						submitItemModalFormBind(par);
					});

				}, "html");
				return false; // prevent the click propagation
			});
		}

		var last_state = [];

		function update_status(msg, jid) {
			var jstatus = '';
			var jbar = '';
			if (msg.status == "running") {
				jstatus = "success";
				jbar = "info";
			}else if (msg.status == "queued_active" || msg.status == "init") {
				jstatus = "success";
				jbar = "warning";
			}else if (msg.status == "succeed") {
				jstatus = "success";
				jbar = "success";
			}else if (msg.status == "failed") {
				jstatus = "error";
				jbar = "danger";
			}else if (msg.status == "aborted") {
				jstatus = "error";
				jbar = "warning";
			}

			$("#" + jid.toString() + "_tr1").attr('class', jstatus);
			$("#" + jid.toString() + "_tr2").attr('class', jstatus);
			$("#" + jid.toString() + "_div").attr('class', "progress progress-" + jbar + " progress-striped active");
		}

		function updateJobsLp(jid, item, has_error, md5) {
			if (md5 == undefined) {
				md5 = ''
			}
			if (item == 'script') {
				var type = 'jobs';
			} else {
				var type = 'reports';
			}
			$.ajax({
				type: "GET",
				url: "/" + type + "/info_lp/" + jid + '/' + md5,
				dataType: 'json',
				success: function (msg) {
					console.log(msg);
					var arg = "width: " + msg.progress.toString() + "%";

					if (has_error != 1) {
						$("#" + jid.toString() + "_bar").attr('style', arg);
						$("#" + jid.toString() + "_SGEstatus").html("<strong>" + msg.name.toString() + "</strong> - " + msg.sge.toString());
						$("#" + jid.toString() + "_list_td").text(msg.sge.toString());
					}

					//A job is not running anymore
					if (msg.status != "running" && msg.status != "queued_active" && msg.status != "init" && has_error != 1) {
						//window.setTimeout(function() {window.location.href = '/jobs/';} , 150);
						changePage(null, 1, 1, modalConnect);

						update_status(msg, jid);

						modalConnect();

						// Remove line from 'In progress tab'
						$("#" + jid.toString() + "_list_tr").remove();
						// Decrease or remove the counter
						var a = parseInt($("#current_tab_li_a .badge").html()) - 1;
						if (a > 0) {
							$("#current_tab_li_a .badge").html(a.toString())
						} else {
							$("#current_tab_li_a .badge").remove();
						}
					} else {
						if (msg.status != last_state[jid]) {
							update_status(msg, jid);
						}
						// delay = 1000;
						// window.setTimeout(updateJobs, delay, jid, item);
						updateJobsLp(jid, item, 0, msg.md5)
					}
					last_state[jid] = msg.status;
				},
				error: function (request, status, error) {
					//implement proper error handling
					$("#" + jid.toString() + "_tr1").attr('class', 'error');
					$("#" + jid.toString() + "_tr2").attr('class', 'error');
					$("#" + jid.toString() + "_div").attr('class', "progress progress-warning");
					$("#" + jid.toString() + "_SGEstatus").html($("#" + jid.toString() + "_SGEstatus strong").text() +
					  " - <strong>ERROR</strong> while checking status !");
					last_state[jid] = 'error';
					window.setTimeout(function () { updateJobsLp(jid, item, 0); }, 2000);
				}
			});
		};

		// FIXME deprecated
		function updateJobs(jid, item, has_error) {
			if(item=='script') {
				var type = 'jobs';
			}else {
				var type = 'reports';
			}
			$.ajax({
				type: "GET",
				url: "/" + type + "/info/"+jid,
				dataType : 'json',
				success: function (msg) {
					var arg = "width: " + msg.progress.toString() + "%";

					if (has_error != 1) {
						$("#" + jid.toString() + "_bar").attr('style', arg);
						$("#" + jid.toString() + "_SGEstatus").html("<strong>" + msg.name.toString() + "</strong> - " + msg.sge.toString());
						$("#" + jid.toString() + "_list_td").text(msg.sge.toString());
					}

					//A job is not running anymore
					if (msg.status != "running" && msg.status != "queued_active" && msg.status != "init" && has_error!=1) {
						//window.setTimeout(function() {window.location.href = '/jobs/';} , 150);
						changePage(null, 1, 1, modalConnect);

						update_status(msg, jid);

						modalConnect();

						// Remove line from 'In progress tab'
						$("#" + jid.toString() + "_list_tr").remove();
						// Decrease or remove the counter
						var a = parseInt($("#current_tab_li_a .badge").html()) - 1 ;
						if(a>0){
							$("#current_tab_li_a .badge").html(a.toString())
						}else {
							$("#current_tab_li_a .badge").remove();
						}
					}else{
						if(msg.status!= last_state[jid]) {
							update_status(msg, jid);
						}
						delay = 1000;
						window.setTimeout(updateJobs, delay, jid, item);
					}
					last_state[jid] = msg.status;
				},
				error: function (request, status, error) {
					//implement proper error handling
					$("#" + jid.toString() + "_tr1").attr('class', 'error');
					$("#" + jid.toString() + "_tr2").attr('class', 'error');
					$("#" + jid.toString() + "_div").attr('class', "progress progress-warning");
					$("#" + jid.toString() + "_SGEstatus").html($("#" + jid.toString() + "_SGEstatus strong").text() +
					  " - <strong>ERROR</strong> while checking status !");
					last_state[jid] = 'error';
					window.setTimeout(updateJobs, 3000 , jid, item, 1);
				}
			});
		};

		// function updateAllJobs() { // DELETED ON 30/06/2015
	</script>
	<!-- New design attempt -->
	<script type="text/javascript">
		// Refresh paginator selector
		function apply_pg(options) {
			refresh = false;
			$('#history').bootstrapPaginator(options);
			refresh = true;
		}
		var refresh = true;
	</script>
{% endblock %}

