{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load user_translate %}

{% block title %}Reports{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

	<!-- LIST OF EXISTING REPORTS -->
	<div class="row-fluid">
		<div class="span12">
			<h2>{{ missing }}<small> reports are MISSING out of {{ total }} reports in DB</small></h2>
			<h3>Missing reports list :</h3>
			<ul>
			{% for report in reports %}
				<li>
					<small>{{ report.created }} : {{ report.id }}</small> : <b>{% firstof report.author.get_full_name report.author %} // {{ report.name }}</b> ({{ report.type }} / {{ report.project }}) <small style="float:right;">not found : {{ report.path.0 }}</small></li>
				<!--<li>{{ report.path }}</li>-->
				{% empty %}
				<li>
					There is no report in the database matching your search criterias...
				</li>
			{% endfor %}
		</div>
	</div>


{% endblock %}