{% extends "base.html" %}

{% load mathfilters %}
{% load bootstrap_toolkit %}
{% load user_translate %}

{% block title %}Log viewer{% endblock %}

{% block extra_head %}
	<style>
	h2 {
		padding-top: 45px;
	}
	code {
		padding: 1px 4px;
		color: #d14;
		white-space: nowrap;
		background-color: #f7f7f9;
		border: 1px solid #e1e1e8;
		display: block;
		margin-bottom: 2px;
		overflow: auto;
	}
	.err {
		margin-left: 30px;
	}
	</style>
{% endblock %}

{% block content %}

	<!-- LIST OF EXISTING REPORTS -->
	<div class="row-fluid">
		<!-- site map bar -->
		<div class="row-fluid">
			<div class="span10 offset1">
				<ul class="breadcrumb pull-left" style="background-color: transparent;">
					<li><a href="/home/">Breeze</a> <span class="divider">/</span></li>
					<li> <a href="/resources/"> Manage Resources</a> <span class="divider">/</span></li>
					<li class="active"> Log</li>
				</ul>
			</div>
		</div>
		<div class="span11">
			<h3>Breeze LOG : <small>(In reverse order, showing the {{ showing|safe }})</small></h3>
			<!--<ul> -->
			{% for line in log %}
				{% if line == '<hr>' %}
					<hr>
				{% elif 'Traceback' in line %}
					{{ log.count|sub:200 }} <code class="err">{{ line|safe }}</code>
				{% else %}
					{{ log.count|sub:200 }} <code>{{ line|safe }}</code>
				{% endif %}
			{% empty %}
				Nothing here...
			{% endfor %}
			<!--</ul> -->
		</div>
	</div>


{% endblock %}
