{% for report in reports %}
  <tr {% if not report.user_has_access %}style="color: grey;"{% endif %}>
    <td> {{ report.created }} </td>
    <td> {{ report.type }} </td> <!-- Implement TYPE in colors depending on report type =) -->
    <td data-toggle="tooltip" title="{{ report.name }}"> {{ report.name|truncatechars:40 }} </td>
    <td> {% if report.author.get_full_name != '' %}{{ report.author.get_full_name }}{% else %}{{ report.author }}{% endif %} </td>
    <td class="Glyph" data-toggle="tooltip" title="{{ report.project }}"> {{ report.project|truncatechars:19 }} </td>
    <td>
      {% if report.user_has_access %}
        <a class="Glyph" data-toggle="tooltip" title="View the Report" href="/reports/view/{{ report.id }}/report.html" target="_blank">

          <i class="icon-eye-open"></i>
        </a>
      {% else %}
        <!-- <i class="icon-minus-sign"></i> -->
      {% endif %}
    </td>
    <td>
      {% if report.user_has_access %}
        <a class="Glyph" data-toggle="tooltip" title="Download HTML<br>NB: Embedded links won't work" href="/reports/get/{{ report.id }}">
          <i class="icon-download-alt"></i>
        </a>
      {% else %}
        <!-- <i class="icon-minus-sign"></i> -->
      {% endif %}
    </td>
    {% if report.user_is_owner %}
      <td>
        <a class="Glyph" href="#" data-toggle="modal" data-toggle="tooltip" title="Edit sharing" data-target="#Edit" class="btn btn-inverse apply" data-param="{{ report.id }}" onclick="get_form({{ report.id }});">
          <i class="icon-user"></i>
        </a>
      </td>
      <td>
        <a class="Glyph" href="#" data-toggle="modal" data-toggle="tooltip" title="Delete report" data-target="#Del" onclick="$('#del_btn').attr('href', '/reports/delete/{{ report.id }}'); $('#del_title').text('Delete \'{{ report.name }}\' ?');" >
          <i class="icon-trash"></i>
        </a>
      </td>
    {% else %}
      <td colspan="2">
        <!-- <i class="icon-minus-sign"></i> -->
      </td>
    {% endif %}
  </tr>
{% empty %}
  <tr> <td colspan="7"> No reports in the data base... </td> </tr>
{% endfor %}