{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Reports{% endblock %} 

{% block extra_head %}

  <link href="/static/css/bootstrapSwitch.css" rel="stylesheet">
  <script src="/static/js/bootstrapSwitch.js"></script>
  
<style>
#main_table td {text-align:center; vertical-align:middle;}
#main_table th {text-align:center; vertical-align:middle;}
</style>

{% endblock %}

{% block content %}  
  
  
  <!-- SIMPLE SEARCH FIELD -->
  <div class="row-fluid">
    <p><br>&nbsp;<br></p>  
    <div class="span8 offset2">
      <form class="navbar-search pull-right" action="#" method="post">
        {% csrf_token %}
        <input name="query" type="text" class="search-query" placeholder="Quick Search... " value="{{ search_query }}">
      </form>
    </div>
  </div>
  
  <!-- FILTER & CREATE BUTTONS ROW -->
  <div class="row-fluid">
    <div class="span10 offset1">
      <p><br>&nbsp;<br></p>  
      <a href="#" id="new_popover" class="btn btn-primary input-medium pull-left" rel="popover">
        <strong><i class="icon-plus icon-white"></i> &nbsp;New Report </strong>
      </a>
      <a href="#" id="filter_popover" class="btn btn-primary input-medium pull-right" rel="popover">
        <strong><i class="icon-filter icon-white"></i> &nbsp;Filters </strong>
      </a>
    </div>
  </div>

  <!-- LIST OF EXISTING REPORTS -->
  <div class="row-fluid">
    <div class="span10 offset1">
      <p><br>&nbsp;<br></p>
      <table class="table table-striped table-hover" id="main_table">
        {% if reports %}
        <thead>
          <tr>
            <th>Date</th> <th>Report Type</th> <th>Report Name</th> <th>Author</th> <th>HTML</th> <th></th>
          </tr>
        </thead>
        {% endif %}
        <tbody>       
        {% for report in reports %}
          <tr>
            <td> {{ report.created }} </td>
            <td> {{ report.type }} </td> <!-- Implement TYPE in colors depending on report type =) -->
            <td> {{ report.name }} </td>
            <td> {{ report.author }} </td>
            <td>
              <a class="Glyph" data-toggle="tooltip" title="View the Report" href="/media/{{ report.home }}/report.html" target="_blank">
                <i class="icon-eye-open"></i>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="Glyph" data-toggle="tooltip" title="Download HTML" href="/get/report-{{ report.id }}">
                <i class="icon-download-alt"></i>
              </a>
            </td>
            <td>
              <a href="#" data-toggle="modal" data-target="#Del" onclick="$('#del_btn').attr('href', '/reports/delete/{{ report.id }}'); $('#del_title').text('{{ report.name }}');" >
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
        {% empty %}
          <tr> <td></td> <td> No reports in the data base... </td> </tr>
        {% endfor %}
        </tbody>
      </table>   
    </div>
  </div>
  
  <div id="Del" class="modal hide fade" role="dialog"  aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="del_title">Delete JOB</h3>
      </div>
      <div class="modal-body">
        <p> Are you sure you DO NOT need this report any more?! </p>
      </div>
      <div class="modal-footer">
        <a id="del_btn" href="#" class="btn btn-danger" > Delete </a>
        <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
      </div>
  </div>

<script>
$(document).ready(function() {
  $('.Glyph').tooltip()
  
  $('#new_popover').popover({
    title: "New Report Query",
    trigger: "click", 
    placement: "right",
    html: true,     
    content: '\
    <form class="navbar-search" action="/search/entity" method="post">\
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>\
      <div class="control-group">\
        <div class="controls">\
          <select name="type" class="input-medium search-query">\
            <option id="optDrug">Drug</option>\
            <option id="optGene">Gene</option>\
            <option id="optSample">Sample*</option>\
            <option id="optPatient">Patient*</option>\
          </select>\
        </div>\
      </div>\
      <div class="control-group">\
        <div class="controls">\
          <input name="query" type="text" class="search-query input-medium" placeholder="Search... " value=""></br>\
        </div>\
      </div>\
      <div class="control-group">\
        <div class="controls">\
          <button type="submit" class="btn btn-primary btn-small btn-block"><strong> Query </strong></button>\
        </div>\
      </div>\
    </form>\
    </br>\
    '
  });
  
  $('#filter_popover').popover({
    title: "Reports Filtering",
    trigger: "click", 
    placement: "left",
    html: true,     
    content: '\
    <form class="navbar-search" action="#" method="post">\
      <div class="control-group">\
      <p>Coming soon..</p>\
      </div>\
    </form>\
    </br>\
    '
  });
    
});
</script>
  
{% endblock %}