<p>
{% if reports %}
	<small>
		<h4>Report
			<strong>{{ count.first }}</strong> -
			<strong>{{ count.last }}</strong> out of
			<strong>{{ count.total }}</strong> reports found
		</h4>
	</small>
{% endif %}
</p>
<table class="table table-striped table-hover" id="main_table">
	{% if reports %}
		<thead>
		<tr>
			<th onclick="submit_filter_form(null, '{% if sorting = '_created' %}-_created{% else %}_created{% endif %}')">
				Date
				<i class="icon {% if sorting = '_created' %}icon-chevron-up{% elif sorting = '-_created' %}icon-chevron-down{% endif %}"></i></th>
			<th onclick="submit_filter_form(null, '{% if sorting = '_type' %}-_type{% else %}_type{% endif %}')">
				Report Type
				<i class="icon {% if sorting = '_type' %}icon-chevron-up{% elif sorting = '-_type' %}icon-chevron-down{% endif %}"></i></th>
			<th onclick="submit_filter_form(null, '{% if sorting = '_name' %}-_name{% else %}_name{% endif %}')">
				Report Name
				<i class="icon {% if sorting = '_name' %}icon-chevron-up{% elif sorting = '-_name' %}icon-chevron-down{% endif %}"></i>
			</th>
			<th onclick="submit_filter_form(null, '{% if sorting = '_author__last_name' %}-_author__last_name{% else %}_author__last_name{% endif %}')">
				Author
				<i class="icon {% if sorting = '_author__last_name' %}icon-chevron-up{% elif sorting = '-_author__last_name' %}icon-chevron-down{% endif %}"></i>
			</th>
			<th onclick="submit_filter_form(null, '{% if sorting = 'project__name' %}-project__name{% else %}project__name{% endif %}')">
				Project
				<i class="icon {% if sorting = 'project__name' %}icon-chevron-up{% elif sorting = '-project__name' %}icon-chevron-down{% endif %}"></i>
			</th>
			<th colspan="5">Actions</th>
		</tr>
		</thead>
	{% endif %}
	<tbody id="">
	{% for report in reports %}
		<tr {% if report.user_has_access and not owned_filter %}style="font-weight: bold;"{% endif %}><!-- {{ report.id }} -->
			<td> {{ report.created }} </td>
			<td> {{ report.type }} </td> <!-- Implement TYPE in colors depending on report type =) -->
			<td data-toggle="tooltip" title="{{ report.name }}"> {{ report.name|truncatechars:40 }} </td>
			<td> {% firstof report.author.get_full_name report.author %} </td>
			<td class="Glyph" data-toggle="tooltip" title="{{ report.project }}"> {{ report.project|truncatechars:19 }} </td>
			<!-- View button (only if user has access or is super-user) -->
			<td>
				{% if report.user_has_access or user.is_superuser %}
					<a class="Glyph" data-toggle="tooltip" title="View the Report" href="/reports/view/{{ report.id }}/report.html" target="_blank">
						<i class="icon-eye-open"></i>
					</a>
				{% else %}
					<!-- <i class="icon-minus-sign"></i> -->
				{% endif %}
			</td>
			<!-- Download button (only if user has access) -->
			<td>
				{% if report.user_has_access %}
					<a class="Glyph" data-toggle="tooltip" title="Download HTML<br>NB: Embedded links won't work" href="/reports/get/{{ report.id }}">
						<i class="icon-download-alt"></i>
					</a>
				{% else %}
					<!-- <i class="icon-minus-sign"></i> -->
				{% endif %}
			</td>
			<!-- Following buttons for owner of report only -->
			{% if report.user_is_owner %}
				<!-- Send (to off-site users) button -->
				<td>
					{% if report.shiny_key %}
					<a class="Glyph" href="#" data-toggle="tooltip" title="Send report"
					   class="btn btn-inverse apply" data-param="{{ report.id }}" onclick="get_form({{ report.id }}, 'Send');"><!-- data-toggle="modal"  data-target="#Send" -->
						<i class="icon-envelope"></i>
					</a>
					{% endif %}
				</td>
				<!-- Edit sharing button -->
				<td>
					<a class="Glyph" href="#" data-toggle="modal" data-toggle="tooltip" title="Edit sharing" data-target="#Edit" class="btn btn-inverse apply" data-param="{{ report.id }}" onclick="get_form({{ report.id }}, 'Edit');">
						<i class="icon-user"></i>
					</a>
				</td>
				<!-- Delete button -->
				<td>
					<a class="Glyph" href="#" data-toggle="modal" data-toggle="tooltip" title="Delete report" data-target="#Del" onclick="$('#del_btn').attr('href', '/reports/delete/{{ report.id }}'); $('#del_title').text('Delete \'{{ report.name }}\' ?');" >
						<i class="icon-trash"></i>
					</a>
				</td>
			{% else %}
				<!-- empty -->
				<td colspan="3">
					<!-- <i class="icon-minus-sign"></i> -->
				</td>
			{% endif %}
		</tr>
		{% empty %}
		<tr> <td colspan="7">There is no report in the database matching your search criterias... </td> </tr>
	{% endfor %}
	</tbody>
</table>
<p><br>&nbsp;</p>
<div id="paginator_control"></div>
<script type="text/javascript">
	$(document).ready(function () {
		var searchQ = {	{{ search|safe }} };
		// new paginator setup
		var pagOptions = {
			currentPage  : {{ page|default:"1" }},
			numberOfPages: 5,
			loop         : true,
			totalPages   : {{ pagination_number|default:"1" }},
			alignment    : 'center',
			onPageChanged: function (e, oldPage, newPage) {
				if (oldPage == newPage || !refresh) return;
				$("#pagination-content").fadeTo('', 0.33);
				$.extend(searchQ, {page: newPage});
				$.get("/reports/{% if url %}{{ url }}{% endif %}" ,  searchQ , function (data) {
					//$('#pagination-content').html('');
					$("#pagination-content").fadeTo(0, 1);
					$('#pagination-content').html(data);
				});
			}
		}
		//call refresh
		apply_pg(pagOptions);
		$("#pagination-content").change()

	});
</script>
