{% extends "base.html" %}

{% block title %}Scripts{% endblock %} 

{% block content %}
<div class="row-fluid">    
  <div class="span3">
    <ul class="nav  nav-pills nav-stacked">
      <li class="{{ categ_status }}"> <a href="#">General</a> </li>
      <li class="{{ categ_status }}"> <a href="#">Visualization</a> </li>
      <li class="{{ categ_status }}"> <a href="#">Screening</a> </li>
      <li class="{{ categ_status }}"> <a href="#">Sequencing</a>  </li>
    </ul>
  </div>
  
  <div class="span9">
    <ul class="breadcrumb pull-right">
      <li> <a href="#">A-Z</a> <span class="divider">/</span> </li> 
      <li class="active">Z-A</li>
    </ul>
    
    <div class="container-fluid">
    <!-- TABLES -->
    <table class="table table-striped">
        <head>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Inline description</th>
                <th></th>
            </tr>
        </head>
        <tbody>
            {% for scr in script_list %}
            <tr>
                <td><img src="/static/dp.png" width="75" height="75"></td>
                <td>{{ scr }}</td>
                <td><a href="#DescriptionModal" data-toggle="modal">Simple auto-correlation function estimation</a></td>
                <td><a class="btn btn-inverse" data-toggle="modal" href="#FormModal">Apply</a></td>         
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}