{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Scripts{% endblock %} 

{% block content %}
<div class="row-fluid">    
  <div class="tabbable">
  
    <div class="span2">
    <!-- Tabs' Header --> 
      <ul class="nav nav-pills nav-stacked" id="scriptTabs">
        <li class="nav-header"><strong>CATEGORIES:</strong></li>
        <li class="active"><a href="#all" data-toggle="tab"><strong>Show All</strong></a></li>
        {% for cat, key in cat_list %}
        <li ><a href="#{{ cat }}" data-toggle="tab"><strong>{{ cat }}</strong></a></li>
        {% endfor %}
      </ul>
    </div>
  
    <div class="span10">
      <!--<ul class="breadcrumb pull-right">
        <li> <a href="#">A-Z</a> <span class="divider">/</span> </li> 
        <li class="active"> <a href="#">Z-A</a>  </li> 
      </ul> 
    
      <!-- Tabs' Content --> 
      <div class="tab-content">
        <div class="tab-pane active" id="all">
          <table class="table table-striped">
            <head>
              <tr>
                <th>Logo</th> <th>Name</th> <th>Inline description</th>
                <th>
                  {% if perms.breeze.add_rscripts %}
                  <a href="/new" class="btn btn-mini btn-info">
                    <i class="icon-plus"></i> Add Script
                  </a>
                  {% endif %}
                </th>
                <th></th> <th></th> <th></th>
            </tr>
            </head>
            <tbody>
              {% for scr in script_list %}
              <tr>
                <td>{{ scr.author }}<!-- <img src="/home/comrade/Projects/fimm/isbio/breeze/{{ scr.logo }}" width="75" height="75" class="img-rounded"> --> </td>
                <td>{{ scr.name }}</td>
                <td><a href="#" data-toggle="modal" class=" describe" data-target="#Describe" data-param={{ scr.id }}>{{ scr.inln }}</a></td>
                <td><a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></td>
                <td>
                  {% if perms.breeze.change_rscripts %}
                    <a href="#" class="btn btn-info" ><i class="icon-edit"></i></a>
                  {% endif %}
                </td>         
                <td>
                  {% if perms.breeze.delete_rscripts %}
                    <a href="/scripts/delete/{{ scr.id }}" class="btn btn-info" ><i class="icon-remove"></i></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>   
        </div>
        {% for cat, scr_list in cat_list %}
        <div class="tab-pane" id="{{ cat }}">
          <table class="table table-striped">
            <head>
              <tr>
                <th>Logo</th> <th>Name</th> <th>Inline description</th>
                <th>
                  {% if perms.breeze.add_rscripts %}
                  <a href="/new" class="btn btn-mini btn-info">
                    <i class="icon-plus"></i> Add Script
                  </a>
                  {% endif %}
                </th>
                <th></th> <th></th> <th></th>
            </tr>
            </head>
            <tbody>
              {% for scr in scr_list %}
              <tr>
                <td>{{ scr.author }}<!-- <img src="/home/comrade/Projects/fimm/isbio/breeze/{{ scr.logo }}" width="75" height="75" class="img-rounded"> --> </td>
                <td>{{ scr.name }}</td>
                <td><a href="#" data-toggle="modal" class=" describe" data-target="#Describe" data-param={{ scr.id }}>{{ scr.inln }}</a></td>
                <td><a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></td>
                <td>
                  {% if perms.breeze.change_rscripts %}
                    <a href="#" class="btn btn-info" ><i class="icon-edit"></i></a>
                  {% endif %}
                </td>         
                <td>
                  {% if perms.breeze.delete_rscripts %}
                    <a href="/scripts/delete/{{ scr.id }}" class="btn btn-info" ><i class="icon-remove"></i></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>   
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>

<div id="Apply" class="modal fade" role="dialog"  aria-hidden="true"></div>
<div id="Describe" class="modal fade" role="dialog"  aria-hidden="true"></div>

<script>
    $(document).ready(function() {
        modalConnect();
    });
    $(".describe").click(function(ev) { 
        ev.preventDefault(); // prevent navigation
        var par = $(this).data("param"); 
        $("#Describe").load("/scripts/read-descr/"+par, function() { 
            $(this).modal('show'); 
        });
        return false; // prevent the click propagation
    });
</script>
<script type="text/javascript">
function submitItemModalFormBind(url){
         $('#form_modal_apply').submit(function(ev){
             $.ajax({
                type: "POST",
                url: url,
                enctype: 'multipart/form-data',
                data: $(this).serialize(),
                success:function(response, textStatus, jqXHR){
                     var form = $("#form_modal_apply_div", response);
                     //form is returned if it is not valid. update modal with returned form
                     //change this "if" to check for a specific return code which should be set in the view
                     if (form.html()) {
                        //update modal div
                        
                         $('#form_modal_apply_div').html(form);
                         $("input:file").customFileInput({ });
                         $("#Apply").modal('show');
                      }
                      //form is not returned if form submission succeeded
                      else{                          
                        //update the entire document with the response received since we received a entire success page and we want to reload the entire page
                        document.open();
                        document.write(response);
                        document.close();
                        $("#Apply").modal('hide');
                        }
                },
                error: function (request, status, error) {
                            //implement proper error handling
                            console.log("failure");
                            console.log(request.responseText);
                        }
                    });
                    return false;
                });
              }
function modalConnect()
        {
            //unbind the click event. If not done we will end up with multiple click event bindings, since binding is done after each ajax call.
            $(".apply").unbind('click');
            //bind the click event
            $(".apply").click(function(ev) {
                ev.preventDefault(); // prevent navigation
                var par = $(this).data("param");
                $.get("/scripts/apply-script/"+par, function(results){
                  //update the dom with the received form
                  $('#Apply').html(results);
                  $("input:file").customFileInput({ });
                  $("#Apply").modal('show');
                  $(document).ready(function () {
                     //bind the form to an ajax call. ajax call will be set to the received update url
                     submitItemModalFormBind("/scripts/apply-script/"+par);
                  });

                }, "html");
                return false; // prevent the click propagation
            })
        }
</script>
{% endblock %}