{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Scripts{% endblock %} 

{% block extra_head %}
<style>
  .thumbnails .span4:nth-child(3n+1) {
    
    margin-left:0;
}
  .thumbnail {
      border-style: groove; 
      border-radius: 7px;
      background: url('/static/nail.png');
  }

</style>  
{% endblock %}

{% block content %}
<div class="container">    
  <div class="row-fluid">
  
    <div class="span2">
    <!-- Tabs' Header --> 
      <div data-spy="affix" >
        <ul class="nav nav-pills nav-stacked" id="scriptTabs">
          <li class="nav-header"><strong>CATEGORIES:</strong></li>
          <li class="active"><a href="#all" data-toggle="tab"><strong>Show All</strong></a></li>
          {% for cat, key in cat_list %}
            <li ><a href="#{{ cat }}" data-toggle="tab"><strong>{{ cat }}</strong></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  
    <div class="span10">
      <div class="row">
        <ul class="breadcrumb pull-right">
          <li> <a href="/scripts/">List</a> <span class="divider">/</span> </li> 
          <li> <a href="/scripts/nails"> Nails</a></li>
        </ul>
      </div>
    
      <!-- Tabs' Content --> 
      <!-- SHOW ALL list goes separately in markup -->
      <div class="tab-content">
        <div class="tab-pane active" id="all">
        {% if thumbnails %}
        <div>
          <ul class="thumbnails">
          {% for scr in script_list %}
            <li class="span4">
              <div class="thumbnail">
                <img src="/media/{{ scr.logo }}" width="95" height="95" class="img-rounded">
                <div class="caption">
                  <h4 class="text-info" align="center"><strong>{{ scr.name }}</strong></h4>
                  <p align="center"><i>{{ scr.inln }};</i></p>
                  <p style="height: 81px; overflow: hidden" align="justify">{{ scr.details }}</p>
                  <p align="right">
                    <a href="#" data-toggle="modal" class="btn btn-inverse describe" data-target="#Describe" data-param={{ scr.id }}>View More >></a> 
                    <a a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></p>
                </div>
              </div>  
            </li>
          {% empty %}
            <p>No resources available!</p>
          {% endfor %}
          </ul>
        </div>
        {% else %}
          <table class="table table-striped">
            <head>
              <tr>
                <th>Logo</th> <th>Name</th> <th>Inline description</th>
                <th>
                  {% if perms.breeze.add_rscripts %}
                  <a href="/new" class="btn btn-mini btn-info">
                    <i class="icon-plus"></i> Add Script
                  </a>
                  {% endif %}
                </th>
                <th></th> <th></th> <th></th>
            </tr>
            </head>
            <tbody>
              {% for scr in script_list %}
              <tr>
                <td><img src="/media/{{ scr.logo }}" width="55" height="55" class="img-rounded"></td>
                <td style="vertical-align: middle">{{ scr.name }}</td>
                <td style="vertical-align: middle"><a href="#" data-toggle="modal" class=" describe" data-target="#Describe" data-param={{ scr.id }}>{{ scr.inln }}</a></td>
                <td style="vertical-align: middle"><a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></td>
                <td style="vertical-align: middle">
                  {% if perms.breeze.change_rscripts %}
                    <a href="#" class="btn btn-info" ><i class="icon-edit"></i></a>
                  {% endif %}
                </td>         
                <td style="vertical-align: middle">
                  {% if perms.breeze.delete_rscripts %}
                    <a href="/scripts/delete/{{ scr.id }}" class="btn btn-info" ><i class="icon-trash"></i></a>
                  {% endif %}
                </td>
                <td style="vertical-align: middle"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>   
        {% endif %}
        </div>
        
        
        <!-- By categories -->
        {% for cat, scr_list in cat_list %}
        <div class="tab-pane" id="{{ cat }}">
        {% if thumbnails %}
        <div>
          <ul class="thumbnails">
          {% for scr in scr_list %}
            <li class="span4">
              <div class="thumbnail well">
                <img src="/media/{{ scr.logo }}" width="95" height="95" class="img-rounded">
                <div class="caption">
                  <h4 class="text-info" align="center"><strong>{{ scr.name }}</strong></h4>
                  <p align="center"><i>{{ scr.inln }};</i></p>
                  <p style="height: 81px; overflow: hidden" align="justify">{{ scr.details }}</p>
                  <p align="right">
                    <a href="#" data-toggle="modal" class="btn btn-inverse describe" data-target="#Describe" data-param={{ scr.id }}>View More >></a> 
                    <a a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></p>
                </div>
              </div>  
            </li>
          {% empty %}
            <p>No resources available!</p>
          {% endfor %}
          </ul>
        </div>
        {% else %}
          <table class="table table-striped">
            <head>
              <tr>
                <th>Logo</th> <th>Name</th> <th>Inline description</th>
                <th>
                  {% if perms.breeze.add_rscripts %}
                  <a href="/new" class="btn btn-mini btn-info">
                    <i class="icon-plus"></i> Add Script
                  </a>
                  {% endif %}
                </th>
                <th></th> <th></th> <th></th>
            </tr>
            </head>
            <tbody>
              {% for scr in scr_list %}
              <tr>
                <td style="vertical-align: middle"><img src="/media/{{ scr.logo }}" width="55" height="55" class="img-rounded"></td>
                <td style="vertical-align: middle">{{ scr.name }}</td>
                <td style="vertical-align: middle"><a href="#" data-toggle="modal" class=" describe" data-target="#Describe" data-param={{ scr.id }}>{{ scr.inln }}</a></td>
                <td style="vertical-align: middle"><a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param={{ scr.id }}>Apply</a></td>
                <td style="vertical-align: middle">
                  {% if perms.breeze.change_rscripts %}
                    <a href="#" class="btn btn-info" ><i class="icon-edit"></i></a>
                  {% endif %}
                </td>         
                <td style="vertical-align: middle">
                  {% if perms.breeze.delete_rscripts %}
                    <a href="/scripts/delete/{{ scr.id }}" class="btn btn-info" ><i class="icon-remove"></i></a>
                  {% endif %}
                </td>
                <td style="vertical-align: middle"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>  
        {% endif %} 
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>

<div id="Apply" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>
<div id="Describe" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>

<script>
    $(document).ready(function() {
        modalConnect();
    });
    $(".describe").click(function(ev) { 
        ev.preventDefault(); // prevent navigation
        var par = $(this).data("param"); 
        $("#Describe").load("/scripts/read-descr/"+par, function() { 
            $(this).modal('show'); 
        });
        return false; // prevent the click propagation
    });
</script>
<script type="text/javascript">
function submitItemModalFormBind(url){
         $('#form_modal_apply').submit(function(ev){
             var formData = new FormData($('form')[0]);
             $.ajax({
                type: "POST",
                url: url,
                enctype: 'multipart/form-data',
                data: formData,
                success:function(response, textStatus, jqXHR){
                     var form = $("#form_modal_apply_div", response);
                     //form is returned if it is not valid. update modal with returned form
                     //change this "if" to check for a specific return code which should be set in the view
                     if (form.html()) {
                        //update modal div
                        
                         $('#form_modal_apply_div').html(form);
                         if ($("input:file").hasClass('TPL')){
                             var which = $("input:file").filter('.TPL').attr('which');
                             $("input:file").filter('.TPL').after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Use a Template File for this field please<a/>');    
                         }
                         $("input:file").customFileInput({ });
                         $("#Apply").modal('show');
                      }
                      //form is not returned if form submission succeeded
                      else{                          
                        //update the entire document with the response received since we received a entire success page and we want to reload the entire page
                        document.open();
                        document.write(response);
                        document.close();
                        $("#Apply").modal('hide');
                        }
                },
                error: function (request, status, error) {
                            //implement proper error handling
                            console.log("failure");
                            console.log(request.responseText);
                    },
                cache: false,
                contentType: false,
                processData: false
                    });
                    return false;
                });
              }
function modalConnect()
        {
            //unbind the click event. If not done we will end up with multiple click event bindings, since binding is done after each ajax call.
            $(".apply").unbind('click');
            //bind the click event
            $(".apply").click(function(ev) {
                ev.preventDefault(); // prevent navigation
                var par = $(this).data("param");
                $.get("/scripts/apply-script/"+par, function(results){
                  //update the dom with the received form
                  $('#Apply').html(results);
                  
                  if ($("input:file").hasClass('TPL')){
                      var which = $("input:file").filter('.TPL').attr('which');
                      $("input:file").filter('.TPL').after('<br/><a href="/get/template/' + which.toString() + '" class="btn btn-mini btn-primary"> Use a Template File for this field please<a/>');    
                  }
                  $("input:file").customFileInput({ });
                  $("#Apply").modal('show');
                  $(document).ready(function () {
                     //bind the form to an ajax call. ajax call will be set to the received update url
                     submitItemModalFormBind("/scripts/apply-script/"+par);
                  });

                }, "html");
                return false; // prevent the click propagation
            })
        }
</script>
{% endblock %}