{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Market{% endblock %}

{% block extra_head %}

  <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
  <script type="text/javascript" src="/static/js/jqdrawbsgrid.js"></script>
  
  <link href="/static/css/bootstrapSwitch.css" rel="stylesheet">
  <script src="/static/js/bootstrapSwitch.js"></script>

<style>
  .thumbnails .span4:nth-child(3n+1) {

    margin-left:0;
  }
  .thumbnail {
      border-style: groove;
      border-radius: 7px;
      background: url('/static/nail.png');
  }
  .subscript {
    color: gray;
    font-size: 79%;
   }

</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <!-- nav bar -->
    <div class="span2 offset1">
        <div data-spy="affix" >
          <ul class="nav nav-list" id="scriptTabs" style="margin-top: 55px;">
            <li> <a href="#mycart" data-toggle="tab" data-param="/mycart" class="showcart" ><i class="icon-shopping-cart"></i> <strong> My Cart <span class='label label-success' id="countcart"> {{ count_mycart }} </span> </strong></li>
            <li class="nav-header"><strong>CATEGORIES:</strong></li>
            <li class="active"><a href="#all" data-toggle="tab"><strong>All</strong></a></li>
            {% for cat in cate%}
              <li ><a href="#{{ cat }}" data-toggle="tab"><strong>{{ cat }}</strong></a></li>
            {% endfor %}
            <li class="divider"></li>
            <li ><a href="#reports" data-toggle="tab"><strong>Pipelines</strong></a></li>
          </ul>
        </div>
    </div>
    

    
    <!-- show the products -->
    <div class="span8">
        <div class="row-fluid">
          <div class="span12">
            <p><br>&nbsp;<br></p>
          </div>
        </div>
        
        <div class=" row-fluid">
            <div class="span12">
                <div class="tab-content">
                <!-- show all -->
                <div class="tab-pane active" id="all">
                    <table class="table table-striped">
                      <head>
                        <tr>
                          <th>Logo</th> <th>Name</th> <th>Data</th>
                          <th>Details</th><th>Price</th><th>Action</th>
                        </tr>
                      </head>
                      <tbody>
                        {% for scr in script_list %}
                        <tr>
                          <td style="vertical-align: middle"><img {% if scr.logo %} src="/media/{{ scr.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="55" height="55" class="img-rounded"></td>
                          <td style="vertical-align: middle"><strong>{{ scr.name }} <br /> <span class="subscript"> (author: {{ scr.author }}) </span> </strong></td>
                          <td style="vertical-align: middle"><i>{{ scr.creation_date }}</i></td>
                          <td style="vertical-align: middle">
                            <a href="#" data-toggle="modal" class="btn btn-primary describe" data-target="#Descr" data-param={{ scr.id }}>
                              <i class="icon-info-sign icon-white"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              <strong> 
                                  {% if scr.price == 0 %}
                                  <span class='label label-success'>{{ scr.price }}</span> 
                                  {% else %}
                                  <span class='label label-important'>{{ scr.price }}</span> 
                                  {% endif %}
                               </strong>
                          </td>
                          <td style="vertical-align: middle">
                              {% if scr in app_installed %}
                              <a  class="btn btn-inverse" disabled='disabled'>
                                <strong>Installed&nbsp;<i class="icon-ok icon-white"></i></strong>
                              </a>
                              {% else %}
                            <a href="/addtocart/{{ scr.id }}" class="btn btn-inverse apply"   data-param="/addtocart/{{ scr.id }}">
                              <strong>Add&nbsp;to&nbsp; Cart&nbsp;<i class="icon-shopping-cart icon-white"></i></strong>
                            </a>
                            {% endif %}
                          </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td></td> <td><p>No resources available!</p></td> <td></td>
                            <td></td>
                            <td></td><td></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <!-- show category-->
                {% for cat, scr_list in cat_list %}
                <div class="tab-pane" id="{{ cat }}">

                  <table class="table table-striped">
                    <head>
                      <tr>
                        <th>Logo</th> <th>Name</th> <th>Data</th>
                        <th>Details</th><th>Price</th><th>Action</th>
                      </tr>
                    </head>
                    <tbody>
                      {% for scr in scr_list %}
                      <tr>
                        <td style="vertical-align: middle"><img {% if scr.logo %} src="/media/{{ scr.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="55" height="55" class="img-rounded"></td>
                        <td style="vertical-align: middle"><strong>{{ scr.name }} <br /> <span class="subscript"> (author: {{ scr.author }}) </span> </strong></td>
                        <td style="vertical-align: middle"><i>{{ scr.creation_date }}</i></td>
                        <td style="vertical-align: middle">
                          <a href="#" data-toggle="modal" class="btn btn-primary describe" data-target="#Descr" data-param={{ scr.id }}>
                            <i class="icon-info-sign icon-white"></i>
                          </a>
                        </td>
                        <td style="vertical-align: middle">
                            <strong> 
                                {% if scr.price == 0 %}
                                <span class='label label-success'>{{ scr.price }}</span> 
                                {% else %}
                                <span class='label label-important'>{{ scr.price }}</span> 
                                {% endif %}
                             </strong>
                        </td>
                        <td style="vertical-align: middle">
                          {% if scr in app_installed %}
                          <a href="/addtocart/{{ scr.id }}" class="btn btn-inverse apply"   data-param="/addtocart/{{ scr.id }}" disabled='disabled'>
                            <strong>Installed&nbsp;<i class="icon-ok icon-white"></i></strong>
                          </a>
                          {% else %}
                          <a href="/addtocart/{{ scr.id }}" class="btn btn-inverse apply"   data-param="/addtocart/{{ scr.id }}">
                            <strong>Add&nbsp;to&nbsp; Cart&nbsp;<i class="icon-shopping-cart icon-white"></i></strong>
                          </a>
                          {% endif %}
                        </td>

                      </tr>
                      {% empty %}
                      <tr>
                          <td></td> <td><p>No resources available!</p></td> <td></td>
                          <td></td>
                          <td></td><td></td>
                      </tr>
                        
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
                <!--show reports/pipelines-->
                <div class="tab-pane" id="reports">
                    <table class="table table-striped">
                      <head>
                        <tr>
                           <th>Name</th> <th>Author</th> <th>Data</th> <th> Description</th>
                          <th>Module</th><th>Action</th>
                        </tr>
                      </head>
                      <tbody>
                        {% for scr in reports %}
                         {% if scr.rscripts_set.all%}
                        <tr>
                          <td style="vertical-align: middle"><strong>{{ scr.type }} <br /> 
                          </strong></td>
                          <td style="vertical-align: middle">{{ scr.author.username }}</td>
                          <td style="vertical-align: middle"><i>{{ scr.created}}</i></td>
                          <td style="vertical-align: middle">
                            <a href="#" data-toggle="modal" class="btn btn-primary" data-target="#RepTypeInfo" onclick="$('#type_title').text('{{ scr.type }}'); $('#info_body').text('{{ scr.description|default:"None" }}');">
                              <i class="icon-info-sign icon-white"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              <div class="switch switch-small" data-on="primary" data-off="info" data-which="#{{scr.id}}_Details" data-param="/showdetails/{{ scr.id }}">
                                  <input type="checkbox"/>
                              </div>                           
                          </td>
                          <td style="vertical-align: middle">
                            
                            <a href="/installreport/{{ scr.id }}" class="btn btn-inverse installreport"   data-param="/installreport/{{ scr.id }}">
                              <strong>Install&nbsp;<i class="icon-white icon-download-alt"></i></strong>
                            </a>
                          </td>

                        </tr>
                        <tr>
                            <td colspan="6">
                            <div id="{{scr.id}}_Details" class="collapse">
                                {% include 'store-tags.html' %}
                            </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <tr>
                            <td></td> <td><p>No reports available!</p></td> <td></td>
                            <td></td>
                            <td></td><td></td>
                        </tr>
                        
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <!-- show my cart -->
                <div class="tab-pane" id="mycart">
                                {% include "cartinfo.html" %}                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">&nbsp;</div>


<div id="Descr" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>

<div id="WarningInfo" class="modal hide " role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="info_title"> Warning Information </h3>
  </div>
  <div class="modal-body">
    <p> &nbsp; &nbsp;This app has already in your cart! </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>
</div>

<div id="RepTypeInfo" class="modal hide fade" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="type_title"> </h3>
  </div>
  <div class="modal-body">
    <p id="info_body"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  // initialize Multiselect plugin for Dotmatix Samples
  var multiConfigurationSet = {
    includeSelectAllOption: true,
    enableFiltering: true,
    maxHeight: 450
  };
  $('.dotmatix_samples').multiselect(multiConfigurationSet);
    
    
  $(".describe").click(function(ev) {
    ev.preventDefault(); // prevent navigation
    var par = $(this).data("param");

    //console.log("clicked");
    $("#Descr").load("/scripts/read-descr/"+par, function() {
      //console.log("ajax sent");
      $(this).modal('show');
    });
    return false; // prevent the click propagation
  });
    
  
  $('.switch').on('switch-change', function (event, state) {
      var value = state.value;
      var tar = $(this).data("which");
      //console.log(tar);
      var par = $(this).data("param");
      if(value){
          //console.log("on");
          $(tar).load(par, function(){
              $(tar).collapse('show');
              $(".describe").click(function(ev) {
                ev.preventDefault(); // prevent navigation
                var par = $(this).data("param");
    
                //console.log("clicked");
                $("#Describe").load("/scripts/read-descr/"+par, function() {
                  //console.log("ajax sent");
                  $(this).modal('show');
                });
                return false; // prevent the click propagation
              });
              $(".apply").click(function(ev) {
                ev.preventDefault(); // prevent navigation
                var par = $(this).data("param");
                //console.log(par);
                $.ajax({
                  type: "GET",
                  url: par,
                  //data: {"hello": par},
                  success: function(data){
                      //console.log(data);
                      if(data['exist']=="Yes"){
                          $.ajax({
                              type:"GET",
                              url:"/updatecart",
                              success: function(data){
                                  $('#countcart').html(data);
                              }
                          });
                          bootbox.dialog({
                              message: "This app has already in your cart!",
                              title: "Warning",
                              buttons: {
                              success: {
                              label: "Ok",
                              className: "btn-success",
                              callback: function() {
                              //console.log("success");
                              }
                              }
                              }
                              });
                      } 
                      if(data['exist']=="No"){
                          $.ajax({
                              type:"GET",
                              url:"/updatecart",
                              success: function(data){
                                  $('#countcart').html(data);
                              }
                          });
                      }
                  },
                  error: function (request, status, error) {
                              //implement proper error handling
                              console.log("failure");
                  }
                });
              });
          });
      }else{
          $(tar).collapse('hide');
      }
      //console.log(value);
  }); 


  

  
  var remove_html = '<tbody><tr><td></td><td><p>No resources available!</p></td> <td></td><td></td><td></td><td></td><td></td></tr></tbody>';

  
  $(".installreport").click(function(ev){
      ev.preventDefault();
      var par = $(this).data("param");
      $.ajax({
          type:"GET",
          url: par,
          success: function(reponse){
              if(reponse['install_status']=='Yes'){
                  bootbox.dialog({
                  message: "Installization is done!",
                  title: "Information",
                  buttons: {
                  success: {
                  label: "Ok!",
                  className: "btn-success",
                  callback: function() {
                  }
                  }
                  }
                  });
              } else{
                  bootbox.dialog({
                  message: "installization fails!",
                  title: "Warning",
                  buttons: {
                  success: {
                  label: "Ok!",
                  className: "btn-success",
                  callback: function() {
                  }
                  }
                  }
                  });
              }
          },
          error: function (request, status, error) {
                      //implement proper error handling
                      console.log("failure");
          }
      });
  });
  
  $(".apply").click(function(ev) {
    ev.preventDefault(); // prevent navigation
    var par = $(this).data("param");
    //console.log(par);
    $.ajax({
      type: "GET",
      url: par,
      //data: {"hello": par},
      success: function(data){
          //console.log(data);
          if(data['exist']=="Yes"){
              $.ajax({
                  type:"GET",
                  url:"/updatecart",
                  success: function(data){
                      $('#countcart').html(data);
                  }
              });
              bootbox.dialog({
                  message: "This app has already in your cart!",
                  title: "Warning",
                  buttons: {
                  success: {
                  label: "Ok",
                  className: "btn-success",
                  callback: function() {
                  //console.log("success");
                  }
                  }
                  }
                  });
          } 
          if(data['exist']=="No"){
              $.ajax({
                  type:"GET",
                  url:"/updatecart",
                  success: function(data){
                      $('#countcart').html(data);
                  }
              });
          }
      },
      error: function (request, status, error) {
                  //implement proper error handling
                  console.log("failure");
      }
    });
  });
  
  $(".showcart").click(function(ev){
      ev.preventDefault(); // prevent navigation
      var url = $(this).data("param");
      //console.log(url);
      $("#mycart").load(url, function(){
          $(".describe").click(function(ev) {
            ev.preventDefault(); // prevent navigation
            var par = $(this).data("param");
            //console.log("clicked");
            $("#Des").load("/scripts/read-descr/"+par, function() {
              //console.log("ajax sent");
              $(this).modal('show');
            });
            return false; // prevent the click propagation
          });
          
          $(".delete").click(function(ev) {
            ev.preventDefault(); // prevent navigation
            var par = $(this).data("param");
            var parent = $(this).parent().parent();
            bootbox.dialog({
            message: "Are you sure about removing this app from your cart? ",
            title: "Warning",
            buttons: {
            success: {
            label: "Cancel",
            className: "btn-success",
            callback: function() {
            //console.log("success");
            }
            },
            danger: {
            label: "Sure",
            className: "btn-danger",
            callback: function() {
                $.ajax({
                  type: "GET",
                  url: par,
                  //data: {"hello": par},
                  success: function(response){
                      $.ajax({
                          type:"GET",
                          url:"/updatecart",
                          success: function(data){
                              $('#countcart').html(data);
                          }
                      });
                      if(response['count_app']==1){parent.fadeOut('slow', function(){
                          $(this).parent().after('<tbody><tr><td></td><td><p>No resources available!</p></td> <td></td><td></td><td></td><td></td><td></td></tr></tbody>');
                          $(this).parent().remove();

                      });} else 
                      {parent.fadeOut('slow', function(){$(this).remove();});}
                      
                  },
                  error: function (request, status, error) {
                              //implement proper error handling
                              console.log("failure");
                              //console.log(request.responseText);
                  }
                });
            //Example.show("uh oh, look out!");
            }
            }
            }
            });

          });
          
          $(".deleteall").click(function(ev) {
            ev.preventDefault(); // prevent navigation
            var par = $(this).data("param");
            var parent = $(this).parent().parent().parent();
            console.log(par);
            bootbox.dialog({
            message: "Are you sure about removing all this type of apps from your cart? ",
            title: "Warning",
            buttons: {
            success: {
            label: "Cancel",
            className: "btn-success",
            callback: function() {
            //console.log("success");
            }
            },
            danger: {
            label: "Sure",
            className: "btn-danger",
            callback: function() {
                $.ajax({
                  type: "GET",
                  url: par,
                  //data: {"hello": par},
                  success: function(response){
                    //if(response['delete']='Yes'){console.log("delete");}
                    parent.fadeOut('slow', function(){
                        $(this).after('<tbody><tr><td></td><td><p>No resources available!</p></td> <td></td><td></td><td></td><td></td><td></td></tr></tbody>');
                        $(this).remove();
                        //$(this).parent().remove();
                        //console.log($('#testing').attr(););
                    });
                    $.ajax({
                        type:"GET",
                        url:"/updatecart",
                        success: function(data){
                            $('#countcart').html(data);
                        }
                    });

                  },
                  error: function (request, status, error) {
                              //implement proper error handling
                              console.log("failure");
                              //console.log(request.responseText);
                  }
                });
            //Example.show("uh oh, look out!");
            }
            }
            }
            });

          });
          
          $(".installapp").click(function(ev) {
            ev.preventDefault(); // prevent navigation
            var par = $(this).data("param");
            var parent = $(this).parent().parent();
            var agreement = $(this).data("agreement");
            console.log(agreement);
            bootbox.dialog({
            message: agreement,
            title: "Agreement",
            buttons: {
            success: {
            label: "Cancel",
            className: "btn-danger",
            callback: function() {
            //console.log("success");
            }
            },
            danger: {
            label: "Agree",
            className: "btn-success",
            callback: function() {
                $.ajax({
                  type: "GET",
                  url: par,
                  //data: {"hello": par},
                  success: function(response){
                      $.ajax({
                          type:"GET",
                          url:"/updatecart",
                          success: function(data){
                              $('#countcart').html(data);
                          }
                      });
      
                      if(response['install_status']=='exist'){
                          bootbox.dialog({
                          message: "You have already installed this app! ",
                          title: "Warning",
                          buttons: {
                          success: {
                          label: "OK",
                          className: "btn-success",
                          callback: function() {
                              if(response['count_app']==1){
                                  parent.fadeOut('slow', function(){
                                                    $(this).parent().after('<tbody><tr><td></td><td><p>No resources available!</p></td> <td></td><td></td><td></td><td></td><td></td></tr></tbody>');
                                                    $(this).parent().remove();

                                                });
                              } else {
                                  parent.fadeOut('slow', function(){$(this).remove();});
                              }
                          //console.log("success");
                          }
                          }
                          }
                          });
                      }
                      if(response['install_status']=='Yes'){

                                  if(response['count_app']==1){
      
                                      parent.fadeOut('slow', function(){
                                                        $(this).parent().after(remove_html);
                                                        $(this).parent().remove();
                                                    });
                                  } else { 
     
                                      parent.fadeOut('slow', function(){$(this).remove();});
                                          }
                      } 
                  },
                  error: function (request, status, error) {
                              //implement proper error handling
                              console.log(status);
                              //console.log(request.responseText);
                  }
                });
            //Example.show("uh oh, look out!");
            }
            }
            }
            });

          });
      });
      
          
  });
  
  
});
</script>
{% endblock %}