<!DOCTYPE HTML>
<html>
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>

	<form clas="well form-search">
	<input type="text" class="span3 search-query" placeholder="Search..."/>
	<button class="btn">Search</button>
	</form>

	<form clas="well form-inline">
	<input type="text" class="span3" placeholder="Username..."/>
	<input type="text" class="span3" placeholder="Password..."/>
	<button class="btn btn-primary">Submit</button>
	</form>

	<form clas="well span6">
	<label>Username</label>
	<input type="text" class="span3" placeholder="Type username here..."/></br>
	<label>Password</label>
	<input type="text" class="span3" placeholder="Type password here..."/></br>
	<button class="btn btn-primary">Submit</button>
	<button class="btn">Clear</button>
	</form>


	<!-- HORIZONTAL NAVIGATION BAR -->
	<ul class="nav nav-pills nav-stacked span3"> <!-- or class="nav nav-pills" -->
		<li class="active"><a href="#">Category1</a></li>
		<li><a href="#">Category2</a></li>
		<li><a href="#">Category3</a></li>
		<li><a href="#">Category4</a></li>
	</ul>


	<!-- VERTICAL NAVIGATION BAR -->
	<ul class="nav nav-tabs"> <!-- or class="nav nav-pills" -->
		<li><a href="#">Home</a></li>
		<li class="active"><a href="#">About</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Contact</a></li>
	</ul>

	<!-- TABLES -->
	<table class="table table-striped">
		<head>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Job</th>
			</tr>
		</head>
		<tbody>
			<tr>
				<td>Test</td>
				<td>25</td>
				<td>TestJob</td>
			</tr>
			<tr>
				<td>Test</td>
				<td>25</td>
				<td>TestJob</td>
			</tr>
			<tr>
				<td>Test</td>
				<td>25</td>
				<td>TestJob</td>
			</tr>
		</tbody>
	</table>
    
    <ul class="nav nav-pills">  
    <li class="dropdown all-camera-dropdown">  
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">  
            Tutorials  
               <b class="caret"></b>  
           </a>  
    <ul class="dropdown-menu">  
            <li data-filter-camera-type="all"><a data-toggle="tab" href="#">HTML5</a></li>  
            <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">PHP</a></li>  
            <li data-filter-camera-type="Zed"><a data-toggle="tab" href="#">MySQL</a></li>  
            <li data-filter-camera-type="Bravo"><a data-toggle="tab" href="#">JavaScript</a></li>  
  
    </ul>  

    <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
    <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>  
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

