.*/
*.pyc
*/*.pyc
*.log
/isbio/running
running
isbio/.project
isbio/.pydevproject
isbio/.settings
isbio/breeze/r_scripts
isbio/breeze/jobs
isbio/breeze/tmp
isbio/breeze/datasets/
isbio/breeze/static/*
isbio/breeze/mould/
.ropeproject/
*.sublime-project
*.sublime-workspace
*.gz
/.version
/diagram.png
running
*.*~
.*~
.*_secret
*/.*_secret
static_source/
