{% load bootstrap_toolkit %}
<!-- Basic FORM Modal -->

<form id="form_modal_apply" class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data" >
  <div id="form_modal_apply_div">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{ header }}</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}

      {% for item in form %}
        {{ item|as_bootstrap:layout }}
      {% endfor %}

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="submit-btn" type="submit" >{{ submit }}</button>
      <button class="btn btn-inverse" id="cancel-btn" type="cancel" >Cancel</button>
    </div>
  </div>
</form>
<script type="text/javascript">
	//prevents multiple submission of the form (i.e. if the server is slow and take time to respond, or do not respond)
	function while_sending() {
		$('#submit-btn').on('click', function (e) {
			e.preventDefault();
			$(this).attr("disabled", "disabled");
			$(this).parents('form').first().submit();
			return false;
		});
		$('#cancel-btn').on('click', function (ev) {
			ev.preventDefault();
			get_form({{ id }}, 'Send')
			/*
			var url = '{{ back }}';
			//load and displays a form inside a modal form
			$("#Send").load(url, function () {
				submitItemModalFormBind(url, "#Send");
				init_multi();
			});
			*/

			return false;
		});
	}
	$(document).ready(while_sending());
</script>


