{% load bootstrap_toolkit %}
<!-- Basic FORM Modal -->


  <form id="form_modal_apply" class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data" >
    <div id="form_modal_apply_div">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ header }}</h3>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        
        {% for item in form %}
          {{ item|as_bootstrap:layout }}
        {% endfor %}
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{ submit }}</button>
        <button class="btn btn-inverse" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </form>


