{% load bootstrap_toolkit %}
<!-- Apply Modal -->

  <form id="form_modal_apply" class="form-horizontal script-form" action={{ url }} method="post" enctype="multipart/form-data">
    <div id="form_modal_apply_div">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ name }}</h3>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>{{ inline }}</p>
        </blockquote>
        <p>&nbsp;</p>

        <p class="text-info"><strong>General Job Info:</strong></p>
        {% csrf_token %}
        {{ headform|as_bootstrap:layout }}


        <div class="control-group">
          <label class="control-label" for="mail_id">Report to</label>
          <div class="controls">
            <input type="text" id="mail_id" name="email" placeholder="first.last@helsinki.fi" value="{{ email }}">
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <label class="checkbox inline">
              <input type="checkbox" id="b_id" name="Started" value="b"> Started
            </label>
            <label class="checkbox inline">
              <input type="checkbox" id="e_id" name="Ready" value="e"> Ready
            </label>
            <label class="checkbox inline">
              <input type="checkbox" id="a_id" name="Aborted" value="a"> Aborted
            </label>
          </div>
        </div>


        <p class="text-info"><strong>Input/Output Specification:</strong></p>
        {% for item in custform %}
          {{ item|as_bootstrap:layout }}
        {% endfor %}


      </div>
      <div class="modal-footer">
        {% if  mode == "create" %}
        <input class="btn btn-inverse" name="schedule_job" type="submit" value="Schedule" form="form_modal_apply"/>
        <input class="btn btn-inverse" name="run_job" type="submit" value="Run" form="form_modal_apply"/>
        {% elif  mode == "edit" %}
        <input class="btn btn-inverse" type="submit" value="Save" />
        {% elif  mode == "replicate" %}
        <input class="btn btn-inverse" type="submit" value="ReSchedule" />
        {% endif %}
        <a class="btn btn-inverse" data-dismiss="modal">Close</a>
      </div>
    </div>
  </form>
