{% load bootstrap_toolkit %}
<!-- User Info -->

<form id="personal_form" class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data">
  <div id="personal_form_div">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="del_title">Update Personal Information</h3>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {{ form|as_bootstrap:"horizontal" }}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit"> Save </button>
      <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>
</form>
