{% load bootstrap_toolkit %}
<!-- Apply Modal -->

  <form id="form_modal_apply" class="form-horizontal" action={{ url }} method="post" enctype="multipart/form-data">
    <div id="form_modal_apply_div">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ name }}</h3>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>{{ inline }}</p>
        </blockquote>   
        <p>&nbsp;</p>
        
        <p class="text-info"><strong>General Job Info:</strong></p>
        {% csrf_token %}
        {{ headform|as_bootstrap:layout }}
        <p class="text-info"><strong>Input/Output Specification:</strong></p>
        {{ custform|as_bootstrap:layout }}
            
      </div>
      <div class="modal-footer">
        {% if  mode == "create" %}
        <input class="btn btn-inverse" type="submit" value="Schedule" />
        <input class="btn btn-inverse" type="submit" value="Run" />
        {% elif  mode == "edit" %}
        <input class="btn btn-inverse" type="submit" value="Save" />
        {% elif  mode == "replicate" %}
        <input class="btn btn-inverse" type="submit" value="ReSchedule" />
        {% endif %}
        <a class="btn btn-inverse" data-dismiss="modal">Close</a>
      </div>
    </div>
  </form>  
  