.required label, label.required {
    font-weight: bold !important;
    color: #333 !important;

}
.required label.control-label:before{
    content:"*";
    color: #b94a48;

}
.control-group.error .help-block{

    color: #333 !important;
}











.options .control-group {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05)
}

.options .controls {
    padding: 15px
}

.options .control-label {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.options .control-label>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a {
    color: inherit
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.options .control-group {
    border-color: #ddd
}

.options .control-group>.control-label {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.options .control-group>.control-label+.panel-collapse>.controls {
    border-top-color: #ddd
}

.options .control-group>.control-label .badge {
    color: #f5f5f5;
    background-color: #333
}

.options .control-group>.panel-footer+.panel-collapse>.controls {
    border-bottom-color: #ddd
}

.panel-primary {
    border-color: #337ab7
}

.panel-primary>.control-label {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}

.panel-primary>.control-label+.panel-collapse>.controls {
    border-top-color: #337ab7
}

.panel-primary>.control-label .badge {
    color: #337ab7;
    background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.controls {
    border-bottom-color: #337ab7
}

.panel-success {
    border-color: #d6e9c6
}

.panel-success>.control-label {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-success>.control-label+.panel-collapse>.controls {
    border-top-color: #d6e9c6
}

.panel-success>.control-label .badge {
    color: #dff0d8;
    background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.controls {
    border-bottom-color: #d6e9c6
}

.panel-info {
    border-color: #bce8f1
}

.panel-info>.control-label {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.panel-info>.control-label+.panel-collapse>.controls {
    border-top-color: #bce8f1
}

.panel-info>.control-label .badge {
    color: #d9edf7;
    background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.controls {
    border-bottom-color: #bce8f1
}

.panel-warning {
    border-color: #faebcc
}

.panel-warning>.control-label {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.panel-warning>.control-label+.panel-collapse>.controls {
    border-top-color: #faebcc
}

.panel-warning>.control-label .badge {
    color: #fcf8e3;
    background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.controls {
    border-bottom-color: #faebcc
}

.error {
    border-color: #ebccd1 !important
}

.error>.control-label {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important
}


.well, .help-block {
    min-height: 20px;
    padding: 19px;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm,.help-block{
    padding: 9px !important;
    padding-left: 45px !important;
    background: #f5f5f5 url("/static/info-s.png") no-repeat left;
    border-radius: 3px !important
}

.input{
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
}
