<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Simple Form Example</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Simple Form Example</a></h1>
		<form id="form_533728" class="appnitro" enctype="multipart/form-data" method="post" action="/search/">
					<div class="form_description">
			<h2>Simple Form Example</h2>
			<p>RPY2 package for Python allows to use R for data processing:</p>
		</div>						
			<ul >
			
					<li id="li_2" >
		<label class="description" for="element_2">Upload a File: </label>
		<div>
			<input id="element_2" name="input_file" class="element file" type="file"/> 
		</div>  
		</li>		<li id="li_1" >
		<label class="description" for="element_1">What we do... ? </label>
		<div>
		<select class="element select medium" id="element_1" name="list"> 
			<option value="1" selected="selected">Plot the Data</option>
			<option value="2" >Data Distribution</option>
			<option value="3" >Box Plot</option>

		</select>
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="533728" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
			FIMM
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>
