<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Breeze</title>

    <script src="https://cdn.auth0.com/js/lock/10.2.2/lock.min.js"></script>
    <script type="text/javascript">
		var lock = new Auth0Lock('{{ AUTH0_CLIENT_ID }}', '{{ AUTH0_DOMAIN }}', {
		auth: {
		  redirectUrl: '{{ AUTH0_CALLBACK_URL }}',
		  responseType: 'code',
		  params: {
		    scope: 'openid profile'
		  }
		}
		});
		
		/*
		var clientID = "{{ AUTH0_CLIENT_ID }}";
		var domain = "{{ AUTH0_DOMAIN }}";
		
		var options = {"icon" : "https://breeze-www.cloudapp.net/static/breeze.png",
			"defaultLocation" : "FI",
			"responseType"    : "token",
			"autoclose"       : true,
			"focusInput"      : false,
			"popup"           : false,
			"socialBigButtons": true,
			"connections"     : ["google", "microsoft"]
		};
		
		var lock = new Auth0LockPasswordless(clientID, domain);
		
		lock.magiclink(function (error, email) {
			if (!error) {
				alert("A magic link has been sent to " + email);
			}
		});
		*/
		
		window.onload = function () {
			lock.show();
		};
	    
</script>
</head>
<body>
	<div align="center">Breeze (empty) home page<br/>
		<button onclick="lock.show();">Breeze Login</button>
	</div>
</body>
</html>
